html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body.no-sidebar, body.one-sidebar {
  background-color: $base-background-color;
}

#main > .container {
  border: 1px solid $medium-gray;
  background-color: $secondary-background-color;
  border-top-width: 0;
}

.sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
  padding: 15px 0px 20px 20px;
}

.sidebar-second #sidebar-second {
  padding-right: 20px;
  padding-left: 0;
}

.no-sidebar #main #content {
  padding-right: 20px;
}

.sidebar-first #main #content {
  padding-right: 20px;
  padding-left: 0;
}

#on-content {
  p {
    margin: 0;
  }
}
.layout-container{
  position: relative;
}

@include media($tablet) {

  .sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
    padding: 15px 0px 20px 40px;
  }
  .sidebar-second #sidebar-second {
    padding-right: 18px;
    padding-left: 0;
  }
  .no-sidebar #main #content {
    padding-right: 18px;
  }
  .sidebar-first #main #content {
    padding-right: 18px;
    padding-left: 0;
  }
}

@include media($fullsize) {
  .sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
    padding: 25px 0px 50px 50px;
  }
  .sidebar-second #sidebar-second {
    padding-right: 50px;
    padding-left: 0;
  }
  .no-sidebar #main #content {
    padding-right: 50px;
  }
  .sidebar-first #main #content {
    padding-right: 50px;
    padding-left: 0;
  }
}