html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

body.no-sidebar, body.one-sidebar {
  background-color: $base-background-color;
}

#on-content {
  p {
    margin: 0;
  }
}

.layout-container {
  position: relative;
}
#main{
  max-width: 1200px;
  margin: 0 auto;
}
#main > .container {
  float: left;
  width: 100%;
    border: 1px solid $medium-gray;
    background-color: $secondary-background-color;
    border-top-width: 0;
  @include media($fullsize){
    margin-bottom: 80px;
  }
}

#content {
  padding: 0 20px 20px 18px;
}
//one-sidebar.sidebar-second
.sidebar-second {
  @include media($tablet) {
    #sidebar-second {
      float: left;
      width: 236px;
      position: relative;
      margin-right: 18px;
      margin-left: 25px;
      margin-top: 8px;
    }
    #content {
      width: 100%;
      padding: 0 0 39px 39px;
      float: left;
      margin-right: -279px;
      .in {
        margin-right: 279px;
      }
    }
  }
  @include media($fullsize){
    #sidebar-second {
      width: 280px;
      margin-right: 51px;
      margin-left: 68px;
      margin-top: 10px;
    }
    #content {
      padding: 0 0 50px 50px;
      float: left;
      margin-right: -399px;
      .in {
        margin-right: 399px;
      }
    }
  }
}

/*

.sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
  //padding: 15px 0px 20px 20px;
  padding: 15px;
}


@include media($tablet) {

	.sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
		padding: 15px 0px 20px 40px;
	}
	.sidebar-second #sidebar-second {
		padding-right: 18px;
		padding-left: 0;
	}
	.no-sidebar #main #content {
		padding-right: 18px;
	}
	.sidebar-first #main #content {
		padding-right: 18px;
		padding-left: 0;
	}
}

@include media($fullsize) {
	.sidebar-second #main #content, .sidebar-second #sidebar-second, .sidebar-first #sidebar-first, .no-sidebar #main #content {
		padding: 25px 0px 50px 50px;
	}
	.sidebar-second #sidebar-second {
		padding-right: 51px;
		padding-left: 0;
	}
	.no-sidebar #main #content {
		padding-right: 51px;
	}
	.sidebar-first #main #content {
		padding-right: 51px;
		padding-left: 0;
	}
}
*/