ul,
ol {
  margin: 0;
  padding: 0;
  margin-bottom: 40px;
  margin-left: 40px;
}
.breadcrumb ol{
  margin-left: 0;
}
ul{
  list-style-type: none;
}
dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}
