ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.node {
  ol, ul {
    margin-bottom: 25px;
    margin-left: 25px;
  }
  ol {
    list-style: decimal;
  }
  ul{
    li{
      &:after{
        content: '';
      }
    }
  }
}

dl {
  margin: 0;
}

dt {
  font-weight: 600;
  margin: 0;
}

dd {
  margin: 0;
}

@include media($tablet) {
  .node {
    ol, ul {
      margin-bottom: 30px;
      margin-left: 20px;
    }
  }
}

@include media($fullsize) {
  .node {
    ol, ul {
      margin-bottom: 45px;
      margin-left: 40px;
    }
  }
}