ul,
ol {
	list-style-type: none;
	margin: 0;
	padding: 0;
	line-height: 1.7em;
}
ul{
	line-height: 1.75em;
}

.node {
	ol, ul {
		margin-bottom: 25px;
		margin-left: 25px;
	}
	ol {
		list-style: decimal;
	}
	ul {
		li {
			position: relative;
			&:after {
				content: '';
			}
		}
	}
}

dl {
	margin: 0;
}

dt {
	font-weight: 600;
	margin: 0;
}

dd {
	margin: 0;
}

@include media($tablet) {
	.node {
		ol, ul {
			margin-bottom: 30px;
			margin-left: 20px;
		}
	}
}

@include media($fullsize) {
	.node {
		ol, ul {
			margin-bottom: 30px;
			margin-left: 35px;
		}
	}
}

.content ul, .cke_editable ul {

	li {
		&:before {
			content: '';
			display: block;
			width: 5px;
			height: 5px;
			border-radius: 50%;
			background-color: $breadcrumbs;
			left: -15px;
			position: absolute;
			top: 12px;
		}
		//position: relative;
		@include media($fullsize){
			&:before {
				width: 8px;
				height: 8px;
				top: 16px;
			}
		}
	}
}

.cke_editable {
	ul, ol {
		margin-bottom: 30px;
		margin-left: 35px;
	}
	ol {
		list-style: decimal;
	}
}