table {
  border-collapse: collapse;
  margin: $small-spacing 0;
  //table-layout: fixed;
  width: 100% !important;
}
tr,
td,
th {
  vertical-align: middle;
  font-weight: $bold;
}

th {
  border-bottom: 1px solid shade($base-border-color, 25%);
  font-weight: $strong;
  padding: $small-spacing 0;
  text-align: left;
}

td {
  border: $base-border;
  padding: $small-spacing 0;
}
td:nth-child(1){
  border-left: 0;
}
td:last-child{
  border-right: 0;
}
