body {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
  line-height: $base-line-height;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: modular-scale(1);
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
  font-weight: $header-bold;
  color: $heading-color;
}

h1 {
  font-size: 36px;
  margin-bottom: 14px;
}

h2 {
  font-size: 24px;
  margin-bottom: 3px;
}

h3 {
  font-size: 20px;
  margin-bottom: 2px;
}

h4 {
  font-size: 18px;
  color: $dark-gray;
  margin-bottom: 7px;
}

p {
  margin: 0 0 $small-spacing;
}
p:empty{
  margin: 0;
}
a {
  color: $action-color;
  text-decoration: underline;
  transition: color $base-duration $base-timing;

  &:active,
  &:focus,
  &:hover {
    color: shade($action-color, 25%);
    text-decoration: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: $base-spacing 0;
  display: table;
  clear: both;
  width: 100%;
}

strong {
  font-weight: $strong;
}
p.only-strong {
  margin-bottom: 2px;
}

@include media($tablet) {
  body {
    font-size: $tablet-font-size;
  }
}

@include media($fullsize) {
  body {
    font-size: $full-font-size;
  }
  h1 {
    font-size: 40px;
    margin-bottom: 14px;
  }
  h2 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  h3 {
    font-size: 26px;
    margin-bottom: 7px;
  }
  h4 {
    font-size: 22px;
    margin-bottom: 6px;
  }
  p {
    margin: 0 0 45px;
  }
  p.int-text {
    margin-bottom: 25px;
  }
  p.only-strong {
    margin-bottom: 7px;
  }
  p.after-table {
    top:-10px;
    margin-bottom: 60px;
  }
}

p.after-table {
  font-size: 15px;
  color: $dark-gray2;
  line-height: 1.3em;
  font-style: italic;
  position: relative;
}

p.int-text, .introduction-text, .field.subtitle {
  color: $green;
  font-weight: $bold;
}

.int-text, .introduction-text {
  blockquote {
    color: #04326d;
    font-style: italic;
    font-weight: 100;
  }
}

blockquote {
  .int-text, .introduction-text {
    color: #04326d;
    font-style: italic;
    font-weight: 100;
  }
}

figure.align-left, div[data-cke-display-name="image"].align-left {
  border: 1px solid $medium-gray;
  width: 100%;
  padding: 13px 13px 8px;
  margin-bottom: 12px;

  @include media($tablet) {
    width: 230px;
    float: left;
    margin: 0 15px 0px 0;
  }

  @include media($fullsize) {
    width: 350px;
    float: left;
    margin: 10px 30px 30px 0;
    padding: 20px 20px 20px 19px;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto !important;
  }
  figcaption {
    padding-top: 8px;
    font-size: 14px;
    line-height: 18px;
    color: $heading-color;
    @include media($fullsize){
      padding-top: 12px;
    }
  }
}

figure.align-right, div[data-cke-display-name="image"].align-right {
  border: 1px solid $medium-gray;
  width: 100%;
  padding: 13px 13px 8px;
  margin-bottom: 12px;

  @include media($tablet) {
    width: 230px;
    float: right;
    margin: 0 0 0px 15px;
  }

  @include media($fullsize) {
    width: 350px;
    float: right;
    margin: 10px 0 30px 30px;
    padding: 20px 20px 20px 19px;
  }

  img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto !important;
  }
  figcaption {
    padding-top: 8px;
    font-size: 14px;
    line-height: 20px;
    color: $heading-color;
    @include media($fullsize){
      padding-top: 12px;
    }
  }
}

figcaption.text-color1 {
  color: #000;
}

figcaption.text-color2 {
  color: red;
}

blockquote {
  color: #04326d;
  font-style: italic;
  font-size: 18px;
  line-height: 22px;
  position: relative;
  margin: 0 10px 45px 25px;
  &:before {
    content: '“';
    position: absolute;
    left: -20px;
    top: 1px;
    font-family: $heading-font-family;
    font-weight: bold;
    font-size: 30px;
  }
  p {
    margin-bottom: 0;
  }
  .author {
    font-size: 14px;
    margin-top: 8px;
    font-style: normal;
    color: #666;
    font-weight: 400;
    line-height: 1.4em;
    strong {
      color: #444;
      font-weight: 700;
    }
  }

  @include media($fullsize) {
    margin: 17px 0px 55px 52px;
    font-size: 22px;
    line-height: 30px;
    &:before {
      font-size: 40px;
      left: -34px;
      top: 9px;
    }
    .author {
      font-size: 16px;
      margin-top: 20px;
      strong {
        font-weight: 700;
      }
    }
  }
}

div.two-columns{

  .left-column {
    display: block;
    @include media($desktop){
      display: inline-block;
      width: 40%;
      padding-right: 5px;
      vertical-align: top;
    }
  }
  .right-column{
    display: block;
    @include media($desktop){
      display: inline-block;
      width: 50%;
      padding-left: 5px;
      vertical-align: top;
    }
  }

}
