// THEME: purely visual styling (“look-and-feel”) for a component.
//==========================================================================

#header {
  background-color: $secondary-background-color;
  border: 1px solid $medium-gray;
  border-top: 6px solid $green;
  min-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 50;

  .container {
    max-width: 100%;
    padding: 0;
  }
}

#main {
  padding-top: 75px;
  @include media($tablet) {
    padding-top: 96px;
  }
}

#header-image, .image-top-block {
  height: 200px;
  position: relative;
  &:before, &:after {
    content: "\e906";
    color: $white;
    opacity: 0.6;
    font-family: $icons-font-family;
    font-size: 23px;
    position: absolute;
    left: 10px;
    top: 10px;
  }
  &:after {
    left: auto;
    top: auto;
    bottom: 10px;
    right: 10px;
    content: "\e907";
  }
  @include media($tablet) {
    height: 210px;
    &:before, &:after {
      font-size: 37px;
      left: 20px;
      top: 23px;
    }
    &:after {
      left: auto;
      top: auto;
      bottom: 20px;
      right: 20px;
    }
  }
  @include media($fullsize) {
    height: 300px;
    &:before, &:after {
      font-size: 50px;
      left: 30px;
      top: 18px;
    }
    &:after {
      left: auto;
      top: auto;
      bottom: 18px;
      right: 30px;
    }
  }
}

#block-linktocontactpage {
  display: none;
}

#on-content {
  img {
    display: block;
  }
}

@include media($tablet) {
  #header-region > div:nth-child(1) {
    float: left;
    width: 100%;
    margin-right: -90px;
  }
  #header {
    min-height: 90px;
  }
}

@include media($fullsize) {
  #header {
    min-height: 96px;
  }
  #block-linktocontactpage {
    p {
      margin: 0;
    }
    float: right;
    display: block;
    border-left: 1px solid $medium-gray;
    text-indent: -250px;
    overflow: hidden;
    text-align: left;
    a {
      position: relative;
      display: block;
      width: 89px;
      height: 89px;
      text-align: center;
      &:before {
        position: absolute;
        font-size: 31px;
        content: "\e908";
        font-family: $icons-font-family;
        line-height: 89px;
        color: $blue;
        width: 89px;
        height: 89px;
        text-indent: 0px;
        right: 0;
        top: 0;
      }
      &:hover:before {
        color: $white;
        background-color: $blue;
      }
    }
  }
}

.sidebar .block {
  margin-bottom: 18px;
  @include media($fullsize) {
    margin-bottom: 50px;
  }
}

