// THEME: purely visual styling (“look-and-feel”) for a component.
//==========================================================================

p.int-text {
  color: red;
}

#header {
  background-color: $secondary-background-color;
  border: 1px solid $medium-gray;
  border-top: 6px solid $green;
  min-height: 75px;
  .container {
    max-width: 100%;
    padding: 0;
  }
}

#block-linktocontactpage {
  display: none;
}

#on-content {
  img {
    display: block;
  }
}

@include media($tablet) {
  #header-region > div:nth-child(1) {
    float: left;
    width: 100%;
    margin-right: -90px;
  }
  #header {
    min-height: 90px;
  }
}

@include media($fullsize) {
  #header {
    min-height: 96px;
  }
  #block-linktocontactpage {
    p {
      margin: 0;
    }
    float: right;
    display: block;
    border-left: 1px solid $medium-gray;
    text-indent: -250px;
    overflow: hidden;
    text-align: left;
    a {
      position: relative;
      display: block;
      width: 89px;
      height: 89px;
      text-align: center;
      &:before {
        position: absolute;
        font-size: 31px;
        content: "\e908";
        font-family: 'icomoon' !important;
        line-height: 89px;
        color: $blue;
        width: 89px;
        height: 89px;
        text-indent: 0px;
        right: 0;
        top: 0;
      }
      &:hover:before {
        color: $white;
        background-color: $blue;
      }
    }
  }
}

blockquote {
  color: #04326d;
  font-style: italic;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin: 0 10px 45px 25px;
  &:before{
    content: '“';
    position: absolute;
    left: -20px;
    top: 1px;
    font-family: "Gill Sans";
    font-weight: bold;
    font-size: 30px;
  }
  p {
    margin-bottom: 0;
  }
  .author {
    font-size: 14px;
    margin-top: 20px;
    font-style: normal;
    color: #666;
    font-weight: 400;
    line-height: 1.2em;
    strong {
      color: #444;
      font-weight: 700;
    }
  }

  @include media($fullsize){
    margin: 0 0px 60px 52px;
    font-size: 22px;
    line-height: 30px;
    &:before{
      font-size: 40px;
      left: -30px;
    }
    .author {
      font-size: 16px;
      strong {
        font-weight: 700;
      }
    }
  }
}