@import "tweets";

// THEME: purely visual styling (“look-and-feel”) for a component.
//==========================================================================

#header {
  background-color: $secondary-background-color;
  border: 1px solid $medium-gray;
  border-top: 6px solid $green;
  min-height: 75px;
  position: fixed;
  width: 100%;
  z-index: 500;

  .container {
    max-width: 100%;
    padding: 0;
  }
}

#main {
  padding-top: 75px;
  @include media($tablet) {
    padding-top: 96px;
  }
}

h1 a, h2 a, h3 a {
  color: $heading-color;
  text-decoration: none;
  &:hover {
    color: $a_hover;
  }
}

#header-image, .image-top-block, .slide-image {
  height: 200px;
  position: relative;
  &:before, &:after {
    line-height: 1em;
    content: "\e906";
    color: $white;
    opacity: 0.6;
    font-family: $icons-font-family;
    font-size: 23px;
    position: absolute;
    left: 10px;
    top: 10px;
    z-index: 100;
  }
  &:after {
    left: auto;
    top: auto;
    bottom: 10px;
    right: 10px;
    content: "\e907";
  }
  .gradient {
    &:after, &:before{
      content: '';
      background: linear-gradient(to right, #000, transparent);
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      opacity: 0.39;
      width: 50%;
    }
    &:after{
      left: auto;
      right: 0;
      background: linear-gradient(to left, #000, transparent);
    }
  }
  @include media($tablet) {
    height: 210px;
    &:before, &:after {
      font-size: 37px;
      left: 20px;
      top: 20px;
    }
    &:after {
      left: auto;
      top: auto;
      bottom: 20px;
      right: 20px;
    }
  }
  @include media($fullsize) {
    height: 300px;
    &:before, &:after {
      font-size: 50px;
      left: 30px;
      top: 30px;
    }
    &:after {
      left: auto;
      top: auto;
      bottom: 30px;
      right: 30px;
    }
  }
}

.node-type-story {
  #header-image {
    height: 300px;

    @include media($tablet) {
      height: 310px;
    }

    @include media($fullsize) {
      height: 410px;
    }
  }
}


#block-linktocontactpage {
  display: none;
}

#on-content {
  img {
    display: block;
  }
}

@include media($tablet) {
  #header-region > div:nth-child(1) {
    float: left;
    width: 100%;
    margin-right: -90px;
  }
  #header {
    min-height: 90px;
  }
}

@include media($fullsize) {
  #header {
    min-height: 96px;
  }
  #block-linktocontactpage {
    p {
      margin: 0;
    }
    .field {
      text-indent: -250px;
      overflow: hidden;
    }
    float: right;
    display: block;
    border-left: 1px solid $medium-gray;
    text-align: left;
    .field a {
      position: relative;
      display: block;
      width: 89px;
      height: 89px;
      text-align: center;
      &:before {
        position: absolute;
        font-size: 31px;
        content: "\e908";
        font-family: $icons-font-family;
        line-height: 89px;
        color: $blue;
        width: 89px;
        height: 89px;
        text-indent: 0px;
        right: 0;
        top: 0;
      }
      &:hover:before {
        color: $white;
        background-color: $blue;
      }
    }
  }
}

.sidebar .block {
  margin-bottom: 18px;
  @include media($fullsize) {
    margin-bottom: 30px;
  }
}

.pager {
  ul {
    font-family: $heading-font-family;
    text-align: center;
    font-weight: $header-normal;
    text-transform: uppercase;
    a {
      text-decoration: none;
      font-size: 16px;
      color: $table-color;
      padding: 0 3px;
      &:hover {
        color: darken($breadcrumbs, 30%);
      }
    }
    .pager__item--active a {
      color: $breadcrumbs;
    }
    .pager__item--previous a:before, .pager__item--next a:after {
      content: "\e903";
      font-family: $icons-font-family;
      font-size: 10px;
      line-height: 16px;
    }
    .pager__item--next a:after {
      content: "\e902";
    }
    @include media($fullsize) {
      a {
        padding: 0 10px;
        font-size: 18px;
      }
      .pager__item--previous a:before, .pager__item--next a:after {
        font-size: 12px;
        line-height: 18px;
        padding-right: 0px;
      }
    }
  }
}

//Contact Us
.section-contact-us {
  #content-area {
    position: relative;
  }
  .field--name-field-description {
    color: $green;
  }
  #contact-information {
    p {
      margin: 0;
      font-size: 16px;
      color: #888;
      a {
        text-decoration: none;
        color: #888;
        &:hover {
          text-decoration: underline;
        }
      }
    }
    h3 {
      font-size: 18px;
      line-height: 1em;
      font-weight: $header-normal;
      margin-bottom: 18px;
    }
    .field--name-field-contact-email, .field--name-field-contact-telephone, .field--name-field-contact-address {
      background-image: url("../images/optimized/contact-phone.png");
      background-repeat: no-repeat;
      background-position: 0 9px;
      padding-left: 35px;
      background-size: 20px auto;
      margin-bottom: 10px;
    }
    .field--name-field-contact-email {
      background-image: url("../images/optimized/contact-email.svg");
      background-position: 0 4px;
      background-size: 25px auto;
    }
    .field--name-field-contact-address {
      background-image: url("../images/optimized/contact-location.png");
    }
    @include media($tablet) {
      position: absolute;
      right: 0;
      top: 3px;
      width: 236px;
      .form-wrapper {
        margin-bottom: 15px;
      }
    }
    @include media($fullsize) {
      width: 280px;
      top: 7px;
      .form-wrapper {
        padding-left: 48px;
        margin-bottom: 20px;
        background-size: auto;
      }
      .field--name-field-contact-email {
        background-position: 0 3px;
      }
      p {
        font-size: 18px;
      }
      h3 {
        font-size: 22px;
        margin-bottom: 30px;
      }
    }
  }
  #block-shopsplus-content {
    width: 100%;
    .captcha {
      margin-top: 15px;
      margin-bottom: 10px;
      .g-recaptcha > div, iframe {
        max-width: 100%;
      }
    }
    @include media($tablet) {
      margin-right: -261px;
      form {
        margin-right: 261px;
        .form-wrapper {
          display: inline-block;
          width: 48%;
          vertical-align: top;
          margin-right: 3%;
        }
        .field--type-email, .field--name-field-topic {
          margin-right: 0;
        }
        .field--type-markup, .form-actions, .field--name-message {
          width: 100%;
          text-align: left;
          display: block;
        }
        .form-actions {
          padding-top: 20px;
          padding-bottom: 60px;
        }
      }
    }
    @include media($fullsize) {
      margin-right: -350px;
      form {
        margin-right: 350px;
      }
      .form-actions {
        padding-top: 30px;
        padding-bottom: 110px;
      }
      .captcha {
        margin-top: 30px;
        margin-bottom: 20px;
      }
    }

    form .field--type-language {
      display: none;
    }
  }
}

//hover image
.head-shot a, .block-original-office_and_field_staff-block_1 .views-field-field-group-image a, .views-row .views-field-field-head-shot a,
.columns-2-block .line a.with-img, .resource-image a, .image a, .events-view .event-image-link a{
  display: inline-block;
  margin: 0 auto;
  &:before {
    content: '';
    transition: all 0.3s ease;
  }
  span {
    display: block;
    &:after, &:before {
      content: "";
      color: $white;
      transition: all 0.3s ease;
    }
  }
  img {
    display: block;
    margin: 0 auto;
    width: 100%;
  }
  position: relative;
  &:hover {
    cursor: pointer;
    &:before {
      position: absolute;
      width: 100%;
      top: 0;
      bottom: 0;
      left: 0;
      background-color: $breadcrumbs;
      opacity: 0.7;
    }
    span {
      &:after, &:before {
        content: "\e907";
        font-family: $icons-font-family;
        position: absolute;
        opacity: 0.6;
        line-height: 1em;
        width: 37px;
        height: 38px;
        font-size: 37px;
      }
      &:before {
        content: "\e906";
        top: 20px;
        left: 20px;
      }
      &:after {
        right: 20px;
        bottom: 20px;
      }
    }
  }
  @include media($fullsize) {
    &:hover {
      span {
        &:after, &:before {
          width: 50px;
          height: 52px;
          overflow: hidden;
          font-size: 50px;
        }
      }
    }
  }
}

.page-resource-center-results {
  #block-views-block-resource-center-block-5 {
    display: none;
  }
}

.page-resource-center {
  .resource-view{
    @include media($mobile_threshold) {
      h2 {
        height: 71px;
      }
    }
  }
  #block-views-block-news-and-updates {
    margin-top: 0;
  }
}

.page-resource-center, .page-resource-center-results {
  .more-link {
    text-align: center;

    @include media($tablet) {
      margin-top: 60px;
    }

    a {
      @extend %button;
      display: inline-block;
      border: 1px solid $white;
      background-color: $light-blue;
      padding: 10px;
      line-height: 1;

      @include media($tablet) {
        border: 3px solid $white;
        font-size: 16px;
        padding: 24px 68px;
      }
    }
  }

  #block-views-block-resource-center-block-5 header h2 {
    font-size: 20px;

    @include media($fullsize){
      font-size: 24px;
    }
  }

  #block-shopsplus-page-title {
    text-align: center;
  }
  .resource-view {
    & > header {
      font-family: $heading-font-family;
      font-size: 20px;
      color: $heading-color;
      border-bottom: $base-border;
      margin-bottom: 20px;
      padding-bottom: 10px;
      @include media($fullsize) {
        font-size: 24px;
        margin-bottom: 35px;
        padding-bottom: 20px;
      }
    }
  }
}

.node-resource-teaser {
  float: left;
  width: 100%;
  border-bottom: $base-border;
  padding: 0 0 15px;
  margin-bottom: 20px;
  font-family: $heading-font-family;
  position: relative;
  h2 {
    font-size: 18px;
  }
  .submitted {
    line-height: 1em;
    margin-top: -4px;
    margin-bottom: 10px;
    time {
      font-size: 14px;
      color: $time;
      font-weight: $header-normal;
    }
  }
  .resource-image {
    float: left;
    margin-right: 10px;
    width: 113px;
  }
  h2 {
    padding-bottom: 18px;
  }
  .content {
    font-size: 14px;
    font-weight: $header-normal;
    position: absolute;
    bottom: 18px;

    @include media($tablet) {
      padding-left: 123px;
    }

    & * {
      display: inline;
    }
    .f_item {
      &:after {
        content: '';
        border-left: $base-border;
        display: inline-block;
        height: 14px;
        width: 1px;
        margin: 0px 6px 0 10px;
        position: relative;
        top: 3px;
      }
    }
    & div:last-child .f_item {
      &:after {
        content: none;
      }
    }
    a {
      text-decoration: none;
    }
  }
  @include media($mobile_threshold) {
    h2 {
      text-overflow: ellipsis;
      overflow: hidden;
      height: 65px;
    }
  }
  @include media($tablet) {
    padding: 0 12px 15px;
    h2 {
      font-size: 20px;
    }
  }
  @include media($fullsize) {
    padding: 0 20px 30px;
    margin-bottom: 35px;
    h2 {
      font-size: 30px;
      padding-bottom: 35px;
    }
    .resource-image {
      margin-right: 30px;
      width: 165px;
    }
    .submitted {
      margin-top: -5px;
      margin-bottom: 10px;
      time {
        font-size: 16px;
        font-weight: $header-bold;
      }
    }
    .content {
      font-size: 16px;
      padding-left: 195px;
      bottom: 35px;
      .f_item {
        &:after {
          height: 16px;
        }
      }
    }
  }
}

.page-events {
  #block-shopsplus-page-title {
    display: none;
  }
}
.simplenews-confirm-add .form-actions{

}
