.block-twitter-last {
  background-color: $light-blue;
  h2, .tweets {
    @include outer-container();
  }
  .tweets {
    padding: 0 20px 36px 18px;

    .more-link {
      text-align: center;

      @include media($tablet) {
        margin-top: 60px;
      }

      a {
        @extend %button;
        display: inline-block;
        border: 1px solid $white;
        background-color: $light-blue;
        padding: 10px;
        line-height: 1;

        @include media($tablet) {
          border: 3px solid $white;
          font-size: 16px;
          padding: 24px 68px;
        }
      }
    }
  }
  h2 {
    font-size: 26px;
    padding: 43px 0 21px 19px;
  }

  .views-rows {
    .views-row {
      background-color: white;
      margin-bottom: 20px;
      font-weight: $header-normal;
      font-family: $heading-font-family;
      .content {
        padding: 9px 12px 14px;
        font-size: 12px;
        color: $time;
        a {
          color: $active;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
        .date {
          margin-bottom: 4px;
          font-weight: 400;
        }
      }
      .created {
        background-color: #54b9dd;
        color: $white;
        padding: 8px 0 10px;
        position: relative;
        &:before {
          content: '';
          display: block;
          position: absolute;
          top: -15px;
          width: 25px;
          height: 25px;
          background-color: $white;
          transform: skewY(38deg);
        }
        .user {
          padding-left: 32px;
          font-size: 12px;
          line-height: 12px;
          &:before {
            font-size: 17px;
            vertical-align: middle;
            content: '\ea96';
            font-family: $icons-font-family;
            display: inline-block;
            padding-right: 10px;
          }
        }
      }
    }
  }

  @include media($tablet) {
    h2 {
      font-size: 24px;
      padding: 45px 0 9px 20px;
    }
    .tweets {
      padding: 0 0 88px 20px;
    }
    .views-rows {
      @include fill-parent();
      @include row(table);
      .views-row {
        @include span-columns(6);
        position: relative;
        &:after {
          content: '';
          position: absolute;
          right: 0;
          background-color: #8bd8f4;
          width: $gutter;
          top: 0;
          bottom: 0;
        }
        &:last-of-type {
          display: none;
        }
        .tweet {
          padding-right: 20px;
        }
        .content {
          font-size: 20px;
          padding: 30px 20px 79px;
        }
        .created {
          position: absolute;
          width: 100%;
          bottom: 0;
          padding: 14px 0 16px;
          &:before {
            top: -15px;
            width: 36px;
            height: 32px;
          }
          .user {
            padding-left: 52px;
            font-size: 19px;
            line-height: 19px;
            &:before {
              font-size: 28px;
              vertical-align: middle;
              content: '\ea96';
              font-family: $icons-font-family;
              display: inline-block;
              padding-right: 10px;
            }
          }
        }
      }
    }
  }
  @include media($tablet-wide) {
    .views-rows {
      .views-row{
        @include span-columns(4);
        &:last-of-type {
          display: table-cell;
        }
      }
    }
  }
  @include media($fullsize) {
    h2 {
      font-size: 28px;
      padding: 85px 0 18px 0px;
    }
    .tweets {
      padding: 0 0 140px 0;
      overflow: hidden;
    }
    .views-rows{
      .views-row{
        &:before{
          width: 3.335%;
          content: '';
          position: absolute;
          left: 0;
          background-color: #8bd8f4;
          top: 0;
          bottom: 0;
        }
        &:after{
          width: 3.335%;
        }
        .tweet {
          padding-right: 3.335%;
          padding-left: 3.335%;
        }

        &:nth-of-type(1){
          .tweet {
            padding-left: 0px;
          }
          &:before{
            content: none;
          }
        }
        &:nth-of-type(2){
          .tweet {
            padding-right: 1.67%;
            padding-left: 1.67%;
          }
          &:before, &:after{
            width: 1.67%;
          }
        }
        &:last-of-type{
          &:after{
            content: none;
          }
          .tweet {
            padding-right: 0;
          }
        }
      }
    }
  }
}