[submodule "web/modules/contrib/address"]
	path = web/modules/contrib/address
	url = https://git.drupal.org/project/address

[submodule "web/modules/contrib/browsersync"]
	path = web/modules/contrib/browsersync
	url = https://git.drupal.org/project/browsersync

[submodule "web/modules/contrib/devel"]
	path = web/modules/contrib/devel
	url = https://git.drupal.org/project/devel

[submodule "web/modules/contrib/field_collection"]
	path = web/modules/contrib/field_collection
	url = https://git.drupal.org/project/field_collection

[submodule "web/modules/contrib/field_group"]
	path = web/modules/contrib/field_group
	url = https://git.drupal.org/project/field_group

[submodule "web/modules/contrib/flexslider"]
	path = web/modules/contrib/flexslider
	url = https://git.drupal.org/project/flexslider

[submodule "web/modules/contrib/focal_point"]
	path = web/modules/contrib/focal_point
	url = https://git.drupal.org/project/focal_point

[submodule "web/modules/contrib/geofield"]
	path = web/modules/contrib/geofield
	url = https://git.drupal.org/project/geofield

[submodule "web/modules/contrib/geophp"]
	path = web/modules/contrib/geophp
	url = https://git.drupal.org/project/geophp

[submodule "web/modules/contrib/inline_entity_form"]
	path = web/modules/contrib/inline_entity_form
	url = https://git.drupal.org/project/inline_entity_form

[submodule "web/modules/contrib/libraries"]
	path = web/modules/contrib/libraries
	url = https://git.drupal.org/project/libraries

[submodule "web/modules/contrib/menu_breadcrumb"]
	path = web/modules/contrib/menu_breadcrumb
	url = https://git.drupal.org/project/menu_breadcrumb

[submodule "web/modules/contrib/migrate_plus"]
	path = web/modules/contrib/migrate_plus
	url = https://git.drupal.org/project/migrate_plus

[submodule "web/modules/contrib/pathauto"]
	path = web/modules/contrib/pathauto
	url = https://git.drupal.org/project/pathauto

[submodule "web/modules/contrib/tvi"]
	path = web/modules/contrib/tvi
	url = https://git.drupal.org/project/tvi

[submodule "web/modules/contrib/better_exposed_filters"]
	path = web/modules/contrib/better_exposed_filters
	url = https://git.drupal.org/project/better_exposed_filters

[submodule "web/modules/contrib/markup"]
	path = web/modules/contrib/markup
	url = https://git.drupal.org/project/markup

[submodule "web/modules/contrib/metatag"]
	path = web/modules/contrib/metatag
	url = https://git.drupal.org/project/metatag

[submodule "web/modules/contrib/redirect"]
	path = web/modules/contrib/redirect
	url = https://git.drupal.org/project/redirect

[submodule "web/modules/contrib/simplenews"]
	path = web/modules/contrib/simplenews
	url = https://git.drupal.org/project/simplenews

[submodule "web/modules/contrib/colorbox"]
	path = web/modules/contrib/colorbox
	url = https://git.drupal.org/project/colorbox
