// Footer Menu
#footer {
  ul.menu {
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;

    li {
      list-style-type: none;
      display: inline-block;
      &:after {
        content: "|";
        display: inline-block;
        color: #5c82b5;
        margin: 0 0.1em;
      }

      &:nth-last-child(1):after,
      &:nth-last-child(2):after {
        content: none;
      }
      a, span {
        font-size: 14px;
        color: $white;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
  .block-original-social-links{
    ul{
      li{
        a{
          width: 31px;
          height: 31px;
          &:after{
            width: 31px;
            height: 31px;
            line-height: 31px;
          }
        }
      }
    }
  }
  @include media($mobile_threshold){
    nav{
      padding: 0 15px;
      ul.menu{
        line-height: 1.3em;
        a, span{
          font-size: 12px;
        }
      }
    }
  }
  @include media($tablet) {
    .menu--footer {
      float: right;
      clear: right;
      ul.menu {
        text-align: right;
        li:last-child {
          display: block;
        }
      }
    }
    .block-original-social-links{
      ul{
        li{
          a{
            width: 41px;
            height: 41px;
            &:after{
              width: 41px;
              height: 41px;
              line-height: 41px;
            }
          }
        }
      }
    }
  }
  @include media($fullsize) {
    .menu--footer {
      ul.menu {
        li {
          line-height: 1.2em;
          a, span {
            font-size: 18px;
            line-height: 25px;
          }
        }
      }
    }
  }
}

.block-original-social-links {
  ul {
    li {
      list-style-type: none;
      display: inline-block;
      margin: 20px 0 15px;
      &:after{
        content: none !important;
      }
      a {
        position: relative;
        width: 41px;
        height: 41px;
        display: inline-block;
        overflow: hidden;
        margin: 0 6px;
        text-align: center;
        text-indent: -200px;
        &:after {
          text-indent: 0px;
          content: "\ea90";
          position: absolute;
          line-height: 41px;
          color: $white;
          font-family: $icons-font-family;
          background-color: #02807f;
          width: 41px;
          top: 0;
          left: 0;
          border-radius: 50%;
          transition: all 0.2s ease-in;
        }
        &:hover:after {
          color: #02807f;
          background-color: $white;
        }
      }
      &:after {
        content: none;
      }
    }
    li:nth-of-type(2) a {
      &:after{
        content: "\ea96";
      }
    }
    li:nth-of-type(3) a {
      &:after{
        content: "\ea9d";
      }
    }
  }
}
@include media($tablet) {
.block-original-social-links {
    float: right;
    ul {
      li {
        margin: 0px 0 5px;
        a {
          margin: 0 0 0 12px;
        }
      }
    }
  }
}
@include media($fullsize) {
.block-original-social-links {
    ul {
      li {
        margin: 0px 0 9px;
        a {
          width: 50px;
          height: 50px;
          margin: 0 0 0 11px;
          &:after{
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 20px;
          }
        }
      }
    }
  }
}
#block-shopsplus-content .block-original-social-links{
  float: none;
  text-align: center;
  ul{
    margin: 0;
    li{
      margin: 0;
      &:before{
        content: none;
      }
      a{
        margin: 0 5px;
      }
    }
  }
}