{#
/**
 * @file
 * Default theme implementation to standard AddToAny buttons.
 *
 * Available variables:
 * - addtoany_html: HTML for AddToAny buttons.
 *
 * @ingroup themeable
 */
#}
<div class="share-wrapper">
  <div class="title">Share</div>
  {{ addtoany_html|raw }}
</div>
