<div{{ attributes }}>

    <div class="views-rows">
        {{ tweets }}
    </div>

    {% if more_link_display %}
    <div class="more-link">
        <a href="https://twitter.com/" target="_blank">{{ "Follow us"|t }}</a>
    </div>
    {% endif %}

</div>