<div class="views-row">
    <div class="tweet node">
        <div class="content">
            <div class="text">
                {{ text }}
            </div>
            <div class="created">
                <div class="user">@{{ user }}</div>
                <div class="created_at">{{ created_at }}</div>
            </div>
        </div>
    </div>
</div>