.columns-2-block {
  margin-bottom: 20px;
  text-align: center;
  .content:after {
    content: '';
    clear: both;
    display: block;
  }
  .line {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0 7px 0;
  }
  & > h2 {
    font-size: 18px;
    text-align: left;
    border-bottom: $base-border;
    padding-bottom: 10px;
    margin: 0 0 25px;
  }
  .sub-title {
    font-size: 14px;
    padding: 0 10%;
  }
  @include media($tablet) {
    .content > .line {
      @include span-columns(6);
      margin-bottom: 0;
    }
  }
  @include media($fullsize) {
    margin-bottom: 40px;
    h2 {
      font-size: 30px;
      margin: 15px 0 10px 0;
    }
    & > h2 {
      font-size: 24px;
      padding-bottom: 20px;
      margin: 0 0 40px;
    }
    .sub-title {
      font-size: 18px;
    }
  }
}

//.block-views-block-news-and-updates {
.block-original-latest_news_updates-block_1, .block-original-latest_news_updates-block_3 {
  font-family: $heading-font-family;
  margin-bottom: 70px;
  padding-top: 60px;
  text-align: center;
  & > h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .submitted {
    line-height: 1em;
    margin-bottom: 14px;
    time {
      font-size: 14px;
      color: $time;
      font-weight: $header-normal;
    }
  }
  .image, .resource-image {
    margin-bottom: 14px;
  }
  .views-row {
    text-align: left;
    width: 84%;
    margin: 0 auto;
    .node {
      background-color: white;
      border: $base-border;
      padding: 12px;
      h2 {
        font-size: 20px;
        margin-bottom: 0px;
      }
      header {
        margin-bottom: 38px;
      }
      .content {
        font-size: 14px;
        font-weight: $header-normal;
        & * {
          display: inline;
        }
        div.field a {
          &:after {
            content: '';
            border-left: $base-border;
            display: inline-block;
            height: 14px;
            width: 1px;
            margin: 0px 6px 0 10px;
            position: relative;
            top: 3px;
          }
        }
        div.field:last-child {
          a {
            &:after {
              content: none;
            }
          }
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  @include media($mobile_threshold) {
    .views-row {
      margin-bottom: 20px;
      .image a, .resource-image a {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  @include media($mobile2) {
    .views-row {
      width: 48%;
      margin-right: 1.3966480447%;
      max-width: 354px;
      display: inline-block;
      vertical-align: top;
      .content header {
        margin-bottom: 16px;
      }
      a {
        width: 100%;
      }
    }
    .views-row:nth-child(2n + 2) {
      margin-right: 0;
    }
    .views-row:nth-child(3) {
      display: none;
    }
  }
  @include media($tablet) {
    margin-top: 60px;
    .views-row {
      .image, .resource-image {
        margin-bottom: 0;
      }
      .submitted {
        margin-bottom: 8px;
      }
      .node {
        header {
          margin-bottom: 16px;
        }
      }
    }
  }
  @include media($fullsize) {
    & > h2 {
      text-align: left;
    }
    margin-top: 100px;
    margin-bottom: 80px;
    & > h2 {
      font-size: 24px;
      margin-bottom: 22px;
    }
    .resource-image, .image {
      margin-bottom: 15px;
    }
    .submitted {
      margin-bottom: 15px;
      time {
        font-size: 16px;
        font-weight: $header-bold;
      }
    }
    .views-row {
      @include span-columns(4);
      .node {
        padding: 20px;
        h2 {
          font-size: 30px;

        }
        header {
          margin-bottom: 40px;
        }
        .content {
          font-size: 16px;
          div.field a {
            &:after {
              height: 16px;
            }
          }
        }
      }
    }
    .views-row:nth-child(2n + 2) {
      margin-right: 1.3966480447%;
    }
    .views-row:nth-child(3n + 3) {
      margin-right: 0;
      display: block;
    }
  }
}

.block-original-latest_news_updates-block_3 {
  background-color: $light-gray;
  margin-bottom: 0;
  margin-top: 0;
  padding: 30px 20px 30px 18px;
  & > h2 {
    font-size: 24px;
    text-align: center;
  }
  .views-row {
    margin-bottom: 20px;
  }
  .pager {
    padding-top: 3px;
    a {
      background-color: $active;
      text-decoration: none;
      padding: 18px 25px;
      color: $white;
      font-size: 12px;
      font-family: $heading-font-family;
      line-height: 1em;
      border: 1px solid $active;
      &:hover {
        color: $active;
        background-color: $white;
      }
    }
  }
  @include media($mobile2) {
    .more-true {
      .views-row:nth-child(3) {
        display: inline-block;
      }
    }
  }
  @include media($tablet) {
    padding: 0 39px 75px 39px;
    .pager {
      margin-top: 24px;
      a {
        font-size: 14px;
        padding: 22px 25px;
      }
    }
  }
  @include media($fullsize) {
    padding: 0 50px 144px 50px;
    .views-row {
      margin-bottom: 20px;
    }
    .pager {
      margin-top: 40px;
      a {
        font-size: 16px;
        padding: 24px 27px;
      }
    }
  }
}

.block-original-slider_on_front_page-block_1 {
  margin-bottom: 40px;

  .flexslider {
    border: 0;
    margin-bottom: 0
  }
  .flex-direction-nav {
    display: none;
  }
  .flex-control-nav {
    z-index: 2;
    bottom: auto;
    top: 274px;
  }
  .flex-control-paging li a {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid $white;
    width: 7px;
    height: 7px;
  }
  .flex-control-paging li a.flex-active {
    background-color: $white;
  }
  .slide-image {
    height: 293px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin-bottom: 15px;
  }
  .content {
    text-align: center;
    h2 {
      color: $slide_mobile_color;
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 15px;
      font-weight: $header-normal;
      padding: 0 20px;
    }
    .button-link a {
      font-family: $heading-font-family;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      color: $white;
      display: inline-block;
      padding: 17px;
      border-bottom: 3px solid $white;
      background-color: $active;
      line-height: 1em;
      &:hover {
        background-color: $blue;
      }
    }
  }
  @include media($tablet) {
    margin-bottom: 0;
    .flex-control-nav {
      top: 417px;
    }
    .slide-image {
      height: 443px;
      margin-bottom: 0;
    }
    .node .content {
      text-align: left;
      position: absolute;
      top: 54%;
      transform: translateY(-50%);
      left: 19px;
      h2 {
        color: $white;
        max-width: 355px;
        padding: 0;
      }
      .button-link a {
        font-size: 14px;
        padding: 19px 17px;
      }
    }
  }
  @include media($fullsize) {
    .flex-control-nav {
      top: 566px;
    }
    .flex-control-paging li a {
      width: 10px;
      height: 10px;
    }
    .slide-image {
      height: 600px;
    }
    .node .content {
      left: 30px;
      h2 {
        font-size: 55px;
        line-height: 63px;
        margin-bottom: 30px;
        max-width: 480px;
      }
      .button-link a {
        font-size: 16px;
        padding: 22px 27px;
      }
    }
  }
}