.columns-2-block {
  margin-bottom: 20px;
  text-align: center;
  .content:after {
    content: '';
    clear: both;
    display: block;
  }
  .line {
    margin-bottom: 30px;
  }
  h2 {
    font-size: 24px;
    margin: 10px 0 7px 0;
  }
  & > h2 {
    font-size: 18px;
    text-align: left;
    border-bottom: $base-border;
    padding-bottom: 10px;
    margin: 0 0 25px;
  }
  .sub-title {
    font-size: 14px;
    padding: 0 10%;
  }
  @include media($tablet) {
    .content > .line {
      @include span-columns(6);
      margin-bottom: 0;
    }
  }
  @include media($fullsize) {
    margin-bottom: 40px;
    h2 {
      font-size: 30px;
      margin: 15px 0 10px 0;
    }
    & > h2 {
      font-size: 24px;
      padding-bottom: 20px;
      margin: 0 0 40px;
    }
    .sub-title {
      font-size: 18px;
    }
  }
}

//.block-views-block-news-and-updates {
.block-original-latest_news_updates-block_1,
.block-original-latest_news_updates-block_3,
.block-original-latest_news_updates-block_4,
.block-original-latest_news_updates-block_5,
.block-original-latest_news_updates-block_6,
div[class*='block-original-latest_news_updates-block_'] {

  font-family: $heading-font-family;
  margin-bottom: 70px;
  padding-top: 60px;
  text-align: center;
  & > h2 {
    font-size: 18px;
    margin-bottom: 20px;
  }
  &:after {
    content: '';
    clear: both;
    display: block;
  }
  .submitted {
    line-height: 1em;
    margin-bottom: 14px;
    time {
      font-size: 14px;
      color: $time;
      font-weight: $header-normal;
    }
  }
  .image, .resource-image {
    margin-bottom: 14px;
  }
  .views-row {
    text-align: left;
    width: 84%;
    margin: 0 auto;
    .node {
      position: relative;
      background-color: white;
      border: $base-border;
      padding: 12px;
      h2 {
        font-size: 20px;
        margin-bottom: 0px;
      }
      header {
        margin-bottom: 38px;
      }
      .content {
        font-size: 14px;
        font-weight: $header-normal;
        & * {
          display: inline;
        }

        div.field {
          display: inline;

          &:after {
            content: '';
            border-left: $base-border;
            display: inline-block;
            height: 14px;
            width: 1px;
            margin: 0 6px 0 10px;
            position: relative;
            top: 3px;
          }

          &:last-child {
            &:after {
              content: none;
            }
          }
        }
        

        div.field .f_item {
          display: inline;
          a, span {
            &:after {
              content: '';
              border-left: $base-border;
              display: inline-block;
              height: 14px;
              width: 1px;
              margin: 0 6px 0 10px;
              position: relative;
              top: 3px;
            }
          }

          &:last-child {
            a, span {
              &:after {
                content: none;
              }
            }
          }
        }

        a {
          text-decoration: none;
        }
      }
    }
  }

  @include media($mobile_threshold) {
    .views-row {
      margin-bottom: 20px;
      .image a, .resource-image a {
        display: block;
        width: 100%;
        img {
          width: 100%;
        }
      }
    }
  }
  @include media($mobile2) {
    .views-row {
      width: 48%;
      margin-right: 1.3966480447%;
      max-width: 354px;
      display: inline-block;
      vertical-align: top;
      .content header {
        margin-bottom: 16px;
      }
      a {
        width: 100%;
      }
    }
    .views-row:nth-child(2n + 2) {
      margin-right: 0;
    }
    .views-row:nth-child(3) {
      display: none;
    }
  }
  @include media($tablet) {
    margin-top: 60px;
    .views-row {
      .image, .resource-image {
        margin-bottom: 0;
      }
      .submitted {
        margin-bottom: 8px;
      }
      .node {
        header {
          margin-bottom: 16px;
        }
      }
    }
  }
  @include media($fullsize) {
    & > h2 {
      text-align: left;
    }
    margin-top: 100px;
    margin-bottom: 80px;
    & > h2 {
      font-size: 24px;
      margin-bottom: 22px;
    }
    .resource-image, .image {
      margin-bottom: 15px;
    }
    .submitted {
      margin-bottom: 15px;
      time {
        font-size: 16px;
        font-weight: $header-bold;
      }
    }
    .views-row {
      @include span-columns(4);
      .node {
        padding: 20px;
        h2 {
          font-size: 30px;

        }
        header {
          margin-bottom: 40px;
        }
        .content {
          font-size: 16px;
          div.field a {
            &:after {
              height: 16px;
            }
          }
        }
      }
    }
    .views-row:nth-child(2n + 2) {
      margin-right: 1.3966480447%;
    }
    .views-row:nth-child(3n + 3) {
      margin-right: 0;
      display: block;
    }
  }
}

.node-type-technical-area,
.node-type-health-areas,
.node-type-countries {
  #content {
    .block.block-views {
      margin-bottom: 60px;

      @include media($tablet-wide) {
        margin-bottom: 90px;
      }

      .pager {
        text-align: center;
        margin-top: 10px;

        @include media($tablet) {
          margin-top: 20px;
        }

        .pager__item {
          .button {
            @extend %button;
            line-height: 1;
          }
        }
      }
    }
  }
}

.block-original-latest_news_updates-block_4,
.block-original-latest_news_updates-block_5,
.block-original-latest_news_updates-block_6 {
  margin-top: 0;
  padding-top: 0;
  text-align: left;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .views-row {
    max-width: 100%;
    @include span-columns(12);
    @include omega();
    margin-bottom: $gutter;

    @include media($tablet-wide) {
      @include span-columns(6);

      &:nth-child(2) {
        @include omega();
      }

      &:nth-child(3n + 3) {
        @include span-columns(6);
      }

      &:nth-child(2n + 2) {
        @include omega();
      }
    }
  }
}

.block-original-activities-block_1,
.block-original-resource_center-block_2,
.block-original-resource_center-block_3,
.block-original-resource_center-block_4 {

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .views-row {
    &:first-child {
      .node {
        border-top: 1px solid #ddd;
        padding-top: 15px;

        @include media($desktop) {
          padding-top: 30px;
        }
      }
    }
  }
}

.block-original-latest_news_updates-block_3 {
  background-color: $light-gray;
  margin-bottom: 0;
  margin-top: 0;
  padding: 30px 20px 30px 18px;
  & > h2 {
    font-size: 24px;
    text-align: center;
    font-weight: 600;
  }
  .views-row {
    margin-bottom: 20px;
    .node{
      h2 {
        font-size: 18px;
      }
      .content{
        font-size: 12px;
      }
      header{
        margin-bottom: 10px;
      }
    }
  }
  .submitted time{
    font-size: 12px;
  }
  .pager {
    padding-top: 3px;
    a {
      background-color: $active;
      text-decoration: none;
      padding: 18px 25px;
      color: $white;
      font-size: 12px;
      font-family: $heading-font-family;
      line-height: 1em;
      border: 1px solid $active;
      &:hover {
        color: $active;
        background-color: $white;
      }
    }
  }
  @include media($mobile2) {
    .more-true {
      .views-row-3 {
        display: inline-block;
      }
    }
  }
  @include media($tablet) {
    padding: 0 20px 75px 20px;
    & > h2 {
      text-align: left;
    }
    .views-row {
      width: 49%;
      max-width: 355px;
      .submitted{
        margin-bottom: 15px;
        time{
          font-size: 14px;
        }
      }
      .image{
        margin-bottom: 13px;
      }
      .node {
        padding: 20px;
        h2{
          font-size: 30px;
        }
        .content{
          font-size: 16px;
          bottom: 20px;
          position: absolute;
        }
        header{
          margin-bottom: 120px;
        }
      }
    }
    .pager {
      margin-top: 24px;
      a {
        font-size: 14px;
        padding: 22px 25px;
      }
    }
  }
  @include media($fullsize) {
    padding: 0 0 144px 0;
    & > h2{
      font-size: 28px;
    }
    .views-row {
      margin-bottom: 20px;
      max-width: 1000px;
      margin-right: 1.3966480447%;
      width: 32.4022346369%;
    }
    .submitted time{
      font-size: 16px;
    }
    .pager {
      margin-top: 40px;
      a {
        font-size: 16px;
        padding: 24px 27px;
      }
    }
  }
}

.sidebar-second div[class*='block-original-latest_news_updates-block_'] {
  
  margin-top: 0;
  padding-top: 0;
  .views-row {
    width: 100%;
  }
  @include media($tablet) {
    & > h2 {
      font-size: 16px;
      text-align: left;
      margin-bottom: 14px;
    }
    .views-row {
      .node {
        padding: 14px;
        h2 {
          font-size: 18px;
        }
      }
    }
  }
  @include media($fullsize) {
    & > h2 {
      font-size: 22px;
      margin-bottom: 15px;
    }
    .views-row {
      .node {
        padding: 16px;
        h2 {
          font-size: 24px;
        }
      }
    }
  }
}

.block-original-hp_stories-block_2 {
  display: none;
  @include media($tablet) {
    position: relative;
    display: block;
    .flexslider {
      margin-bottom: 0;
    }
    .node-story-sidebar div:nth-child(1) > div {
      min-height: 168px;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-size: cover;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        height: 121px;
        width: 100%;
        background: linear-gradient(to top, #000, transparent);
      }
    }
    .content {
      font-family: $heading-font-family;
      position: absolute;
      bottom: 0;
      padding: 14px;
      left: 0;
      width: 100%;
      .fs {
        color: #2eb9ea;
        text-transform: uppercase;
        font-weight: $header-bold;
        line-height: 1em;
        font-size: 14px;
      }
      .more {
        a {
          text-decoration: none;
          color: #fff;
          font-size: 20px;
        }
      }
    }
  }
  @include media($fullsize) {
    .node-story-sidebar {
      .node-story-sidebar > div:nth-child(1) > div {
        min-height: 200px;
        &:after {
          height: 144px;
        }
      }
      .content {
        padding: 16px;
        .more {
          a {
            font-size: 24px;
          }
        }
      }
    }
  }
}

.block-original-slider_on_front_page-block_1,
.block-original-hp_stories-block_1,
.block-original-slider_events-block_1 {
  margin-bottom: 40px;
  .node {
    &:after {
      content: '';
      background: linear-gradient(to right, #000, transparent);
      opacity: 0.57;
      position: absolute;
      top: 0;
      bottom: 0;
      width: 70%;
      max-height: 293px;
      z-index: 1;
    }
  }
  .flexslider {
    border: 0;
    margin-bottom: 0
  }
  .flex-direction-nav {
    display: none;
  }
  .flex-control-nav {
    z-index: 2;
    bottom: auto;
    top: 274px;
  }
  .flex-control-paging li a {
    background-color: transparent;
    box-shadow: none;
    border: 2px solid $white;
    width: 7px;
    height: 7px;
  }
  .flex-control-paging li a.flex-active {
    background-color: $white;
  }
  .slide-image {
    height: 293px;
    background-repeat: no-repeat;
    background-position: 50% 0;
    background-size: cover;
    margin-bottom: 15px;
  }
  .content {
    text-align: center;
    h2 {
      color: $slide_mobile_color;
      font-size: 40px;
      line-height: 47px;
      margin-bottom: 15px;
      font-weight: $header-normal;
      padding: 0 20px;
    }
    .button-link a {
      font-family: $heading-font-family;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      color: $white;
      display: inline-block;
      padding: 17px;
      border-bottom: 3px solid $white;
      background-color: $active;
      line-height: 1em;
      &:hover {
        background-color: $blue;
      }
    }
  }
  @include media($tablet) {
    .node {
      &:after {
        max-height: 900px;
      }
    }
    margin-bottom: 0;
    .flex-control-nav {
      top: 417px;
    }
    .slide-image {
      height: 443px;
      margin-bottom: 0;
    }
    .node .content {
      text-align: left;
      position: absolute;
      top: 54%;
      transform: translateY(-50%);
      left: 19px;
      z-index: 111;
      h2 {
        color: $white;
        max-width: 355px;
        padding: 0;
      }
      .button-link a {
        font-size: 14px;
        padding: 19px 17px;
      }
    }
  }
  @include media($fullsize) {
    .flex-control-nav {
      top: 566px;
    }
    .flex-control-paging li a {
      width: 10px;
      height: 10px;
    }
    .slide-image {
      height: 600px;
    }
    .node .content {
      left: 30px;
      h2 {
        font-size: 55px;
        line-height: 63px;
        margin-bottom: 30px;
        max-width: 480px;
      }
      .button-link a {
        font-size: 16px;
        padding: 22px 27px;
      }
    }
  }
}

.block-original-slider_events-block_1 {
  .content {
    .is-featured {
      color: $active;
      font-family: $heading-font-family;
      font-size: $base-font-size;
      font-weight: $header-bold;
      line-height: $base-line-height;
    }
    .event-date-city > div {
      float: left;
    }
    .event-date-city, .timezone {
      @include clearfix;
      color: $blue;
      font-family: $base-font-family;
      font-size: $base-font-size;
      font-weight: $normal;
      line-height: $base-line-height;
      display: inline-block;
    }
    .timezone {
      display: block;
      margin-bottom: 15px;
    }
    .event-details a {
      font-family: $heading-font-family;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      color: $white;
      display: inline-block;
      padding: 17px;
      border-bottom: 3px solid $white;
      background-color: $active;
      line-height: 1em;
      &:hover {
        background-color: $blue;
      }
    }
  }
  @include media($tablet) {
    .flex-control-nav {
      top: 338px;
    }
    .slide-image {
      height: 350px;
    }
    .node {
      .content {
        top: 65%;
        h2 {
          margin-bottom: 0;
          font-size: 38px;
          max-width: none;
        }
        .event-date-city {
          margin-bottom: 0;
        }
        .timezone {
          margin-bottom: 15px;
        }
        .event-details a {
          font-size: 14px;
          padding: 19px 17px;
        }
      }
    }
  }
  @include media($fullsize) {
    .flex-control-nav {
      top: 430px;
    }
    .slide-image {
      height: 450px;
    }
    .node {
      .content {
        top: 65%;
        h2 {
          margin-bottom: 0;
          font-size: 38px;
          max-width: none;
        }
        .timezone {
          margin-bottom: 30px;
        }
        .event-details a {
          font-size: 16px;
          padding: 22px 27px;
        }
      }
    }
  }

}

.block-original-hp_stories-block_1 {
  max-width: 1200px;
  margin: 0 auto;
  .node {
    &:after {
      content: none;
    }
  }
  .node {
    .content {
      text-align: left;
      padding: 20px 10px;
      h2 {
        color: #555;
        font-size: 36px;
        margin-bottom: 15px;
        padding-left: 0;
      }
    }
    .slide-image {
      margin-bottom: 0px;
      height: 276px;
      &:after, &:before {
        content: none;
      }
    }
    color: $dark-gray;
    font-size: 18px;
    .first-name, .last-name {
      display: inline-block;
      font-size: 18px;
      font-weight: $strong;
      line-height: 1em;
    }
    .quote {
      margin-bottom: 15px;
    }
    .bio {
      font-size: 12px;
      line-height: 1em;
    }
    .more a {
      display: block;
      text-align: center;
      background-color: $active;
      text-decoration: none;
      text-transform: uppercase;
      padding: 18px 25px;
      color: $white;
      font-size: 12px;
      font-family: $heading-font-family;
      line-height: 1em;
      border-bottom: 3px solid $white;
      margin-top: 20px;
      &:hover {
        background-color: $blue;
      }
    }
  }
  @include media ($tablet) {
    .node {
      color: $white;
      .slide-image {
        height: 434px;
        &:after {
          content: '';
          position: absolute;
          background: radial-gradient(circle at 70% 50%, #000, transparent, transparent);
          top: 0;
          bottom: 0;
          width: 100%;
          opacity: 0.72;
          left: 0;
        }
      }
      .content {
        width: 53%;
        left: auto;
        right: 39px;
        padding: 0;
        line-height: 1.4em;
        h2{
          color: $white;
        }
      }
      .more a {
        display: inline-block;
        padding: 20px 22px;
        margin-top: 50px;
        font-size: 14px;
      }
    }
  }
  @include media($fullsize) {
    .node {
      font-size: 26px;
      .slide-image {
        height: 550px;
      }
      .content {
        right: 50px;
        width: 43.3%;
        line-height: 1.4em;
        h2 {
          font-size: 46px;
          margin-bottom: 10px;
        }
      }
      .first-name, .last-name {
        display: inline-block;
        font-size: 22px;
        font-weight: $strong;
      }
      .bio {
        font-size: 16px;
      }
      .more a {
        margin-top: 52px;
        padding: 22px 24px;
        font-size: 16px;
      }
    }
  }
}

.block-original-hp_info_graph-block_1 {
  max-width: 1200px;
  margin: 8px auto 0;
  padding: 0 50px;
  text-align: center;
  &:after {
    content: '';
    clear: both;
    display: block;
    width: 100%;
  }
  & > h2 {
    font-size: 24px;
    text-align: center;
    padding-top: 36px;
    margin-bottom: 0;
    font-weight: 600;
    &:before {
      content: "\e901";
      font-family: $icons-font-family;
      position: absolute;
      text-align: center;
      font-size: 28px;
      font-weight: normal;
      width: 100%;
      left: 0;
      top: 0;
      color: #c7c5c5;
    }
  }
  .impact {
    color: $heading-color;
    font-family: $heading-font-family;
    font-size: 26px;
    font-weight: $header-normal;
  }
  .impact-summary {
    color: #777;
    font-size: 14px;
    margin: 0 auto;
    max-width: 230px;
  }
  .views-row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
    transition: background 0.3s ease;
    &:hover {
      background-color: rgba(0, 173, 255, .54);
      .content .field * {
        color: $white !important;
      }
    }
  }
  .views-row .impact-image .f_item{
    width: 135px;
    height: 135px;
    margin: 0 auto;
    border: 3px solid #002e6c;
    background-color: #cfeef2;
    border-radius: 50%;
    position: relative;
    text-align: center;
    margin-bottom: 10px;
    img {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  @include media($tablet) {
    margin-top: 25px;
    padding: 0 0 40px 0;
    & > h2 {
      margin-bottom: 22px;
    }
    .views-content {
      display: table;
      width: 100%;
    }
    @include display-context(table) {
      .views-row {
        @include span-columns(4);
      }
    }
    .views-row {
      margin-bottom: 0;
      padding-bottom: 20px;
      padding-top: 20px;
    }
    .impact {
      font-size: 28px;
    }
    .impact-summary {
      font-size: 16px;
    }
    .views-row .impact-image {

    }
  }
  @include media($fullsize) {
    padding: 0 0 115px 0;
    margin-top: 80px;
    & > h2 {
      padding-top: 55px;
      font-size: 28px;
      margin-bottom: 20px;
      &:before {
        font-size: 42px;
      }
    }
    .impact {
      font-size: 44px;
    }
    .impact-summary {
      font-size: 24px;
      max-width: 347px;
    }
    .views-row {
      padding-bottom: 30px;
      padding-top: 30px;
      .impact-image .f_item{
        width: 200px;
        height: 200px;
        margin-bottom: 15px;
      }
    }
  }
}

.block-original-resource_center-block_1 {
  margin-top: 33px;
  padding: 0 20px 0 20px;
  float: left;
  width: 100%;
  & > h2 {
    font-size: 26px;
    text-align: center;
    margin-bottom: 23px;
    font-weight: 600;
  }
  .views-row-1 {
    border-top: $base-border;
    padding-top: 20px;
  }
  header h2 {
    font-weight: $header-bold;
  }
  footer {
    clear: both;
    text-align: center;
    float: left;
    width: 100%;
    margin-top: 18px;
    margin-bottom: 50px;
    a {
      text-decoration: none;
      color: $white;
      background-color: $active;
      line-height: 1em;
      padding: 14px 20px;
      display: inline-block;
      font-family: $heading-font-family;
      border: 1px solid $active;
      font-size: 12px;
      &:hover {
        background-color: transparent;
        color: $active;
      }
    }
  }
  @include media($tablet) {
    margin-top: 67px;
    padding: 0 39px 0px 39px;
    & > h2 {
      font-size: 24px;
      margin-bottom: 10px;
      text-align: left;
    }
    header h2 {
      font-size: 20px;
      max-height: 73px;
      overflow: hidden;
    }
    .views-row-1, .views-row-2 {
      padding-top: 25px;
      border-top: $base-border;
    }
    .views-row {
      @include span-columns(6);
    }
    .views-row.even {
      margin-right: 0;
    }
    footer {
      margin-bottom: 43px;
      margin-top: 20px;
      a {
        font-size: 14px;
        padding: 19px 32px;
      }
    }
  }
  @include media($fullsize) {
    margin-top: 136px;
    padding: 0;
    & > h2 {
      font-size: 28px;
      margin-bottom: 20px;
    }
    .views-row-1, .views-row-2 {
      padding-top: 40px;
    }
    header h2 {
      max-height: 110px;
      font-size: 30px;
    }
    .node-resource-teaser {
      .resource-image {
        width: 190px;
        margin-right: 16px;
      }
      .content {
        padding-left: 206px;
      }
    }
    footer {
      margin-bottom: 98px;
      margin-top: 40px;
      a {
        font-size: 16px;
        padding: 22px 40px;
      }
    }
  }
}

.block-original-subscribe_block-block_1,
.block-mailchimpsubscribe {
  min-height: 324px;
  color: $white;
  font-size: 18px;
  text-align: center;
  h2 {
    color: $white;
    font-size: 36px;
  }
  .node > .field div {
    min-height: 324px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;
    &:after {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 100%;
      background: linear-gradient(to right, #000, transparent);
      opacity: 0.57;
    }
  }
  .form-item-message {
    padding: 0 35px;
  }
  .node > .content {
    padding-top: 50px;
    padding-left: 10px;
    padding-right: 10px;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    .button-link a {
      font-family: $heading-font-family;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 12px;
      color: $white;
      display: inline-block;
      padding: 17px;
      border-bottom: 3px solid $white;
      background-color: $active;
      line-height: 1em;
      &:hover {
        background-color: $blue;
      }
    }

  }
  .field--type-email, .form-actions {
    display: inline-block;
    vertical-align: top;
    margin-top: 35px;
    font-size: 12px;
    .description, label {
      display: none;
    }
  }
  .form-actions {
    position: relative;
    left: -5px;
  }
  .field--type-email {
    color: $dark-gray;
    width: 180px;
    input {
      height: 46px;
    }
  }
  .form-actions .button {
    padding: 0 18px;
    height: 46px;
    font-size: 12px;
    width: auto;
  }

  @include media($tablet) {
    text-align: left;
    min-height: 265px;
    .node > .field div {
      min-height: 265px;
    }
    .node > .content {
      padding-top: 43px;
      padding-left: 20px;
      padding-right: 0;

      .button-link a {
        font-size: 14px;
      }
    }
    .form-item-message {
      max-width: 380px;
      padding: 0;
    }
    .field--type-email {
      width: 265px;
      input {
        height: 55px;
        font-size: 17px;
      }
    }
    .field--type-email, .form-actions {
      margin-top: 14px;
      float: left;
    }
    .form-actions {
      left: 0;
      .button {
        padding: 0 20px;
        height: 55px;
        font-size: 14px;
      }
    }
  }
  @include media($fullsize) {
    font-size: 24px;
    min-height: 350px;
    .node > .field div {
      min-height: 350px;
    }
    .node > .content {
      padding-top: 57px;
      padding-left: 64px;
      .button-link a {
        font-size: 16px;
      }
    }
    h2 {
      font-size: 50px;
    }
    .field--type-email {
      width: 350px;
      input {
        font-size: 18px;
        height: 60px;
      }
    }
    .form-item-message {
      max-width: 495px;
    }
    .field--type-email, .form-actions {
      margin-top: 37px;
    }
    .form-actions {
      .button {
        height: 60px;
        font-size: 16px;
      }
    }
  }
}

.sidebar {
  //block-original-e0bad7a6-d29c-464b-aa0a-d15ae915c878 - prod
  //block-original-592e92dd-3e53-460c-8015-e27863ea073b - stage
  //block-original-8fd785a7-554a-4542-ab52-b979f4352c0f - dev
  .block-simplenews,
  .block-original-592e92dd-3e53-460c-8015-e27863ea073b,
  .block-original-e0bad7a6-d29c-464b-aa0a-d15ae915c878,
  .block-original-8fd785a7-554a-4542-ab52-b979f4352c0f{
    display: none;
    @include media($tablet) {
      position: relative;
      display: block;
      background-color: #54b9dd;
      padding: 13px 13px 23px;
      &:after {
        content: '';
        display: block;
        position: absolute;
        background: url('../images/optimized/mark.svg');
        background-position: -55px -16px;
        background-repeat: no-repeat;
        background-size: 198px auto;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        opacity: 0.2;
      }
      .body {
        z-index: 40;
        position: relative;
        h2 {
          margin-bottom: 20px;
        }
        a {
          @extend .button-one;
          display: inline-block;
          padding: 15px;
          background-color: $blue;
          &:hover {
            background-color: darken($active, 10);
            color: white;
          }
        }
      }
      .description, label {
        display: none;
      }
      .form-item-message {
        font-family: $heading-font-family;
        color: #002f6c;
        font-size: 22px;
        line-height: 1.2em;
        margin-bottom: 15px;
      }
      form {
        position: relative;
        z-index: 1;
        .form-actions {
          position: relative;
          overflow: hidden;
          width: 45px;
          height: 45px;
          .button {
            width: 45px;
            height: 45px;
            background-color: #002f6c;
            text-indent: -200px;
            overflow: hidden;
          }
          &:after {
            content: '\e902';
            font-family: $icons-font-family;
            top: 11px;
            left: 13px;
            color: #fff;
            position: absolute;
            text-indent: 0;
            font-size: 16px;
          }
        }
        .field--name-mail {
          float: left;
          width: 165px;
          input {
            height: 45px;
            font-size: 14px;
            font-family: $heading-font-family;
            font-weight: $header-normal;
          }
        }
      }
    }
    @include media($fullsize) {
      padding: 16px 16px 28px;
      &:after {
        background-size: 343px auto;
        background-position: -107px -32px;
      }
      .form-item-message {
        font-size: 30px;
        margin-bottom: 20px;
      }
      form {
        .form-actions {
          width: 53px;
          height: 53px;
          .button {
            width: 53px;
            height: 53px;
          }
          &:after {
            top: 13px;
            left: 15px;
            font-size: 19px;
          }
        }
        .field--name-mail {
          width: 195px;
          input {
            height: 53px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

.block-original-events-block_1,
.block-original-events-block_2,
.block-original-events-block_3 {
  display: none;
  @include media($tablet) {
    text-align: center;
    display: block;
    border: $base-border;
    padding: 26px;
    &:before {
      content: '';
      width: 97px;
      height: 97px;
      border-radius: 50%;
      display: block;
      border: 2px solid #002f6c;
      margin: 0 auto 20px;
      background: url("../images/optimized/calendar-icon.png");
      background-repeat: no-repeat;
      background-position: 50%;
      background-color: #cfeef2;
    }
    h2 {
      font-size: 18px;
    }
    .event-date {
      font-family: $heading-font-family;
      color: $active;
      font-size: 16px;
    }
    .country {
      font-size: 14px;
      color: #777;
    }
  }
  @include media($fullsize) {
    padding: 31px;
    &:before {
      width: 115px;
      height: 115px;
      margin: 0 auto 23px;
    }
    h2 {
      font-size: 26px;
    }
    .country, .event-date {
      font-size: 18px;
    }
  }
}
