// Breadcrumb styles
.breadcrumb {
  margin-bottom: 20px;
  padding: 0 20px;
  margin-top: 8px;
  li {
    font-family: $heading-font-family;
    font-size: 14px;
    font-weight: $header-bold;
    list-style-type: none;
    display: inline-block;
    color: #999;
    line-height: 1em;
    a {
      color: $breadcrumbs;
      text-decoration: none;
      &:hover {
        color: darken($breadcrumbs, 30%);
      }
    }
    .separator {
      font-size: 7px;
      line-height: 15px;
      padding: 0 3px;
      display: inline-block;
      vertical-align: top;
    }
  }
  li:last-child {
    .separator {
      display: none;
    }
  }
  @include media($tablet){
    margin-bottom: 15px;
    padding: 0 39px;
  }
  @include media($fullsize){
    margin-bottom: 21px;
    margin-top: 16px;
    padding: 0 50px;
    li{
      font-size: 15px;
      .separator {
        padding: 0 5px;
      }
    }
  }
}
