#footer {
  background-color: $blue;
  .container {
    padding: 44px 1px;
    font-family: $footer-font-family;
    max-width: 1200px;
    margin: 0 auto;
    &:after{
      clear: both;
      content: '';
      display: block;
    }
  }
  .block-footerlogos, .block-footerlogos--2 {
    text-align: center;
    p {
      margin: 0;
      vertical-align: middle;
      border-left: 1px solid #5c82b5;
      padding-left: 11px;
      display: inline-block;
      img{
        width: 131px;
        height: auto;
        display: block;
      }
    }
    p:nth-of-type(1) {
      margin-right: 8px;
      border: none;
      img{
        width: 115px;
      }
    }
  }
  @include media($tablet) {
    .container {
      padding: 37px 20px;
    }
    .block-footerlogos, .block-footerlogos--2 {
      float: left;
      margin-top: 35px;
    }
  }
  @include media($fullsize) {
    .container {
      padding: 50px 0px 60px;
    }
    .block-footerlogos, .block-footerlogos--2 {
      p{
        padding-left: 20px;
        img{
          width: 212px;
        }
      }
      p:nth-of-type(1) {
        padding-left: 0;
        margin-right: 18px;
        img{
          width: 188px;
        }
      }
    }
  }
}