#block-shopsplus-search {
  float: right;
  position: relative;
  width: 69px;
  border-left: 1px solid $medium-gray;
  .form-item {
    z-index: 10;
    opacity: 0;
    width: 0px;
    position: absolute;
    overflow: hidden;
    right: 0;
    top: 0;
    background-color: $blue;
    height: 69px;
    transition: width 0.5s ease-in-out;
    input.form-search {
      padding: 5px 0 5px 20px;
      border: 0;
      background-color: $blue;
      color: $light-gray;
      margin: 17px 0 0;
      width: 200px;
      text-transform: uppercase;
      font-size: 18px;
      height: 24px;
      &:focus {
        border: none;
        box-shadow: none;
      }
    }
  }
  .open-form .form-item {
    input.form-search {
      position: relative;
    }
    width: 325px;
    opacity: 1;
  }

  .form-actions {
    z-index: 101;
    width: 69px;
    height: 69px;
    .form-submit {
      position: relative;
      z-index: 100;
      width: 69px;
      height: 69px;
      overflow: hidden;
      text-indent: -200px;
      padding: 0;
      border-radius: 0;
      background-color: transparent;
      &:focus {
        border: 0;
        box-shadow: none;
        outline: none;
      }
    }

    &:before {
      position: absolute;
      content: "\e900";
      font-family: $icons-font-family;
      color: $blue;
      width: 69px;
      height: 69px;
      background-color: $white;
      line-height: 69px;
      text-align: center;
      cursor: pointer;
    }
    &:hover:before {
      color: $white;
      background-color: $blue;
    }
  }
  .open-form{
    .form-actions {
      &:before{
        background-color: $blue;
        color: $white;
      }
      &:hover:before{
        background-color: shade($blue, 25%);
      }
    }
  }
}

@include media($tablet) {
  #block-shopsplus-search {
    width: 89px;
    margin-right: 90px;
    .form-item {
      height: 89px;
      input.form-search {
        margin: 27px 0 0;
      }
    }
    .form-actions {
      width: 89px;
      height: 89px;
      .form-submit {
        width: 89px;
        height: 89px;
      }
    &:before{
      width: 89px;
      height: 89px;
      line-height: 89px;
    }
    }
  }
}

@include media($fullsize) {
  #block-shopsplus-search {
    margin-right: 0px;
  }
}