//wrapper around logo and name
#block-shopsplus-branding{
  float: left;
  position: relative;
  z-index: 10;
}

//logo
.site-logo{
  display: block;
  width: 137px;
  box-sizing: content-box;
  padding: 18px 0 0 19px;
  
  img {
    max-height: 46px;
    display: block;
    margin: 0;
    padding: 0;
  }
}

// Site name
.site-name{
  display: none;
}

@include media($tablet){
  .site-logo{
    width: 180px;
    padding: 22px 0 0 20px;
  }
}
@include media($fullsize){

}