$slide--prev-img: "../images/optimized/left-arrow.png";
$slide--next-img: "../images/optimized/right-arrow.png";

.flexslider {
  &.optionset-gallery,
  &.optionset-infographic {
    margin: 0;
    border-radius: 0;
    overflow: hidden;
    margin-bottom: 1.05em;

    ul {
      margin: 0 !important;
      padding: 0 !important;

      li {
        &:before {
          display: none;
        }
      }
    }
  }

  &.optionset-infographic {
    border: 1px solid #cccccc;

    @include media($desktop) {
      margin-bottom: 60px;
    }

    ul {
      &.slides {
        padding: 22px !important;

        @include media($desktop) {
          padding: 42px !important;
        }
      }
    }

    .flex-control-paging {
      display: block;
      z-index: 3;
      margin: 0 !important;
      padding: 0 !important;
      bottom: -12px;

      @include media($desktop) {
        bottom: -18px;
      }

      li {
        margin: 0 5px;
        a {
          cursor: pointer;
          -webkit-border-radius: 100%;
          border-radius: 100%;
          border: none;
          opacity: 1;
          background-color: #999999;
          width: 5px;
          height: 5px;
          -webkit-box-shadow: none;
          -o-box-shadow: none;
          box-shadow: none;

          &.flex-active,
          &:hover {
            background-color: #2eb9ea;
          }
        }
      }
    }

  }

  &.optionset-gallery {
    border: none;

    li {
      position: inherit;
    }

    .slides {
      @include media($tablet) {
        padding-left: 64px !important;
        padding-right: 64px !important;
      }
    }

    .flex-direction-nav {
      display: none;

      @include media($tablet) {
        display: block;
      }

      a {
        display: block;
        width: 37px;
        height: 54px;
        font-size: 0;
        transform: translateY(-50%);
        opacity: 0.6;

        &.flex-prev {
          background: url($slide--prev-img) no-repeat 20% center;
          left: 0;
        }

        &.flex-next {
          background: url($slide--next-img) no-repeat 80% center;
          right: 0;
        }

        &:before {
          display: none;
        }
      }
    }
  }
}