table {
  &.footable-details {
    margin: 0;
  }
  .footable-detail-row:last-child .footable-details{
    border-bottom: $base-border;
  }
  thead {
    background-color: $table-color;
  }
  tr td.footable-first-visible {
    position: relative;
    padding-left: 30px;
    span{
      &.fooicon {
        position: absolute;
        left: 12px;
        top: 25px;
        cursor: pointer;
        &:before{
          content: '';
          background-image: url("../images/optimized/plus.svg");
          background-repeat: no-repeat;
          background-position: 0 0;
          position: absolute;
          width: 11px;
          height: 11px;
          top: 0;
          left: 0;
        }
      }
      &.fooicon-minus{
        top:29px;
        &:before{
          background-image: url("../images/optimized/minus.svg");
        }
      }
    }
  }
  tr td.no-icon {
    padding-left: 22px;
  }
  tr {
    &.tr-row {
      background-color: #f3f5f8;
    }
    th, td {
      color: $white;
      font-size: 16px;
      text-align: center;
      padding: 18px 12px;
      &:first-child {
        text-align: left;
      }
    }
    td {
      color: $table-color;
    }
    &.footable-detail-row {
      th, td {
        color: $table-color;
        padding: 0 0 0 30px;
        display: inline-block !important;
        width: auto !important;
        border: 0;
      }
      td {
        padding-left: 5px;
      }
      th {
        &:after {
          content: ':';
        }
      }
      & > td {
        width: 100% !important;
        padding-left: 0px;
        display: table-cell !important;
      }
      .footable-details td {
        line-height: 1.2em;
      }
      .footable-details {
        tr:last-child {
          td, th {
            padding-bottom: 15px;
          }
        }
        tr:first-child{
          td, th {
            padding-top: 10px;
          }
        }
      }
    }
  }
  @include media($fullsize) {
    tr {
      th, td {
        padding: 17px 12px;
      }
    }
  }
}
