.page-events{
  .node-event-slider{
    @include media($fullsize){
      .slide-image{
        height: 450px;
      }
    }
    h2{
      line-height: 100% !important;
      span{
        line-height: 100%;
      }
    }
    .event-date-city{
      padding-top: 5px;
      margin-bottom: 20px;
    }
    .is-featured{
      .f_item{
        font-size: 0.8em;
        font-weight: $bold;
        font-family: $heading-font-family;
        text-transform: uppercase;
        padding-bottom: 5px;
      }
    }
    .event-details{
      a{
        font-size: 16px;
        font-weight:$strong;
        padding: 25px 30px;
      }
    }
  }

  .block-original-events-page_1{
    margin: 50px auto 70px auto;
  }

  .events-view{

    header{
      color: $heading-color;
      font-family: $heading-font-family;
      font-size: $tablet-font-size;
      font-weight: $bold;
      padding-bottom: 25px;
    }
    .line-group{
      .views-row {
        border: 1px solid $medium-gray;
        width: 100%;
        margin: 0 0 20px 0;
        display: block;
        padding: 20px;
        text-align: center;
        article{
          header{
            padding-bottom: 0;
          }
          h2{
            font-size: $base-font-size;
            height: 2.6em;
            overflow: hidden;
            padding-top: 5px;
          }
          span img{

            &:hover{

            }
          }
        }
       .event-date{
          padding-top: 10px;
          color: $active;
          font-size: 18px;
          display: block;
          height: 60px !important;
        }
        .location-event-type{
          color: $green;
          font-size: 16px;
          @include media($mobile){
            .location{
              display: block;
            }
            .separator{
              display: none;
              color: $time;
            }
            .event-type{
              display: block;
            }
          }
          @include media($fullsize){
            .location{
              display: inline-block;
            }
            .separator{
              display: inline-block;
              color: $time;
            }
            .event-type{
              display: inline-block;
            }
          }

        }
      }
    }

    @include media($tablet){
      .line-group{
        .views-row {
          width: 32%;
          margin: 0 2% 2.3% 2%;
          display: inline-block;
          float: left;
        }
        .views-row:nth-child(3n+3){
          margin-right: 0;
          margin-left: 0;
        }
        .views-row:nth-child(-2n+3){
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    a.button{
      display: block;
      background-color: $active;
      text-align: center;
      width: 210px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-weight: $bold;
      margin: 30px auto 50px auto;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: $blue;
      }
    }
  }

  .past-events-view{
    .line-group{
      .views-row {
        .event-date {
          padding-top: 0;
          text-align: left;
          color: $time;
          font-weight: $bold;
          display: inline-block;
          float: left;
          font-size: 16px;
          height: 20px !important;
        }
        div.separator{
          display: inline-block;
          float: left;
          color: $time;
          font-size: 15px;
          padding: 2px 7px 0 7px;
        }
        .location{
          display: inline-block;
          float: left;
          color: $green;
          font-size: 16px;
        }
        .event-recap{
          text-align: left;
          a{
            text-decoration: none;
            text-transform: uppercase;
            color: $active !important;
            font-size: 16px;
          }
        }
        header{
          clear: both;
          padding-top: 15px;
        }
        margin-bottom: 2.5% !important;
      }
    }

    @include media($mobile){
      .line-group{
        .end-date, span.separator{
          display: none;
        }
      }
    }

    @include media($tablet){
      .line-group{
        .views-row {
          width: 48%;
          margin: 0;
          display: inline-block;
          float: left;
          border-left: none;
          border-right: none;
        }
        .views-row:nth-child(-2n+3){
          margin-right: 4%;
          margin-left: 0;
        }
      }
    }

    @include media($desktop){
      .line-group{
        .end-date, span.separator{
          display: inline-block;
        }
      }
    }
    a.button{
      display: block;
      background-color: $active;
      text-align: center;
      width: 210px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-weight: $bold;
      margin: 30px auto 50px auto;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: $blue;
      }
    }

  }
}