.page-events{
  .node-event-slider {
    h1{
      color: $heading-color;
      margin-top: 0;
      margin-bottom: 0;

      @include media($tablet){
        color: $white;
        font-size: 36px;
        font-weight: 300;
      }
    }
    @include media($fullsize){
      .slide-image{
        height: 450px;
      }
    }
    h2{
      line-height: 100% !important;
      span{
        line-height: 100%;
      }
    }
    .event-date-city{
      padding-top: 5px;
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 20px;
      color: $heading-color;

      @include media($tablet){
        padding-left: 0;
        padding-right: 0;
        color: $white;
        font-size: 21px;
      }
    }
    .is-featured{
      .f_item{
        font-size: 0.8em;
        font-weight: $bold;
        font-family: $heading-font-family;
        text-transform: uppercase;
        padding-bottom: 5px;
      }
    }
    .event-details{
      a{
        font-size: 16px;
        font-weight:$strong;
        padding: 25px 30px;
      }
    }
  }

  .block-original-events-page_1{
    margin: 50px auto 70px auto;
  }

  .events-view{

    header{
      color: $heading-color;
      font-family: $heading-font-family;
      font-size: $tablet-font-size;
      font-weight: $bold;
      padding-bottom: 25px;
    }
    .line-group{
      .views-row {
        border: 1px solid $medium-gray;
        width: 100%;
        margin: 0 0 20px 0;
        display: block;
        padding: 20px;
        text-align: center;
        article{
          header{
            padding-bottom: 0;
          }
          h2{
            font-size: $base-font-size;
            height: 2.6em;
            overflow: hidden;
            padding-top: 5px;
            text-align: center;
          }
          span img{

            &:hover{

            }
          }
        }
       .event-date{
          padding-top: 10px;
          color: $active;
          font-size: 18px;
          display: block;
          height: 60px !important;
        }
        .location-event-type{
          color: $green;
          font-size: 16px;
          @include media($mobile){
            .location{
              display: block;
            }
            .separator{
              display: none;
              color: $time;
            }
            .event-type{
              display: block;
            }
          }
          @include media($fullsize){
            .location{
              display: inline-block;
            }
            .separator{
              display: inline-block;
              color: $time;
            }
            .event-type{
              display: inline-block;
            }
          }

        }
      }
    }

    @include media($tablet){
      .line-group{
        .views-row {
          width: 32%;
          margin: 0 2% 2.3% 2%;
          display: inline-block;
          float: left;
        }
        .views-row:nth-child(3n+3){
          margin-right: 0;
          margin-left: 0;
        }
        .views-row:nth-child(-2n+3){
          margin-right: 0;
          margin-left: 0;
        }
      }
    }
    a.button{
      display: block;
      background-color: $active;
      text-align: center;
      width: 210px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-weight: $bold;
      font-family: $heading-font-family;
      margin: 30px auto 50px auto;
      font-size: 16px;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: $blue;
      }
    }
  }

  .past-events-view{
    .line-group{
      .views-row {
        .event-date {
          padding-top: 0;
          text-align: left;
          color: $time;
          font-weight: $bold;
          display: inline-block;
          float: left;
          font-size: 16px;
          height: 20px !important;
        }
        div.separator{
          display: inline-block;
          float: left;
          color: $time;
          font-size: 15px;
          padding: 2px 7px 0 7px;
        }
        .location{
          display: inline-block;
          float: left;
          color: $green;
          font-size: 16px;
        }
        .event-recap{
          text-align: left;
          a{
            text-decoration: none;
            text-transform: uppercase;
            color: $active !important;
            font-size: 16px;
          }
        }
        header{
          clear: both;
          padding-top: 15px;
        }
        //margin-bottom: 2.5% !important;
        margin-bottom: -1px !important;
        border-left: none;
        border-right: none;
      }
    }

    @include media($mobile){
      .line-group{
        .end-date, span.separator{
          display: none;
        }
      }
    }

    @include media($tablet){
      .line-group{
        .views-row {
          width: 48%;
          margin: 0;
          display: inline-block;
          float: left;
          border-left: none;
          border-right: none;
        }
        .views-row:nth-child(-2n+3){
          margin-right: 4%;
          margin-left: 0;
        }
      }
    }

    @include media($desktop){
      .line-group{
        .end-date, span.separator{
          display: inline-block;
        }
      }
    }
    a.button{
      display: block;
      background-color: $active;
      text-align: center;
      width: 210px;
      height: 60px;
      line-height: 60px;
      text-decoration: none;
      color: $white;
      text-transform: uppercase;
      font-weight: $bold;
      font-family: $heading-font-family;
      margin: 30px auto 50px auto;
      font-size: 16px;
      transition: all 0.5s ease-in-out;
      &:hover{
        background-color: $blue;
      }
    }
    h2{
      text-align: left !important;
    }
  }
}

// styles for node event

.node-type-event{

  .container{
    //padding-bottom: 40px;
    padding-bottom: 0px;
    #content{
      padding: 0;
    }
  }

   .block-views-block-events-header-block-1 {
    position: relative;
    .content {
      .is-featured {
        color: $active;
        font-family: $heading-font-family;
        font-size: $base-font-size;
        font-weight: $header-bold;
        line-height: $base-line-height;
      }
      .event-date-city > div {
        float: left;
      }
      .event-date-city {
        @include clearfix;
        color: $white;
        font-family: $base-font-family;
        font-size: $base-font-size;
        font-weight: $normal;
        line-height: $base-line-height;
      }
      .event-details a {
        font-family: $heading-font-family;
        text-transform: uppercase;
        text-decoration: none;
        font-size: 12px;
        color: $white;
        display: inline-block;
        padding: 23px 46px;
        border-bottom: 3px solid $white;
        background-color: $active;
        line-height: 1em;
        &:hover {
          background-color: $blue;
        }
      }

      .register-link{
        a{
          display: block;
          background-color: $active;
          text-align: center;
          width: 200px;
          height: 60px;
          line-height: 60px;
          text-decoration: none;
          color: $white;
          text-transform: uppercase;
          font-weight: $bold;
          font-family: $heading-font-family;
          margin: 15px 0 0 0;
          font-size: 16px;
          transition: all 0.5s ease-in-out;
          border-bottom: 3px solid $white;
          &:hover{
            background-color: $blue;
          }
        }
      }
    }

     @include media($mobile) {
       .node {
         .content {
           position: inherit;
           padding-top: 30px;
           text-align: center;
           .register-link{
             a{
               margin: 15px auto;
             }
           }
         }
       }
     }

    @include media($tablet) {
      .slide-image {
        height: 350px;
      }
      .node {
        .content {
          position: absolute;
          top: 55%;
          left: 30px;
          padding-top: 0;
          text-align: left;
          h1 {
            margin-bottom: 0;
            font-size: 38px;
            max-width: none;
            color: $white;
            font-weight: $header-normal;
          }
          .event-date-city {
            //margin-bottom: 30px;
            margin-bottom: 0;
          }
          .register-link{
            a{
              margin: 15px 0 0 0;
            }
          }
        }
      }
    }

    @include media($desktop) {
      .slide-image {
        height: 450px;
      }
      .node {
        .content {
          position: absolute;
          top: 55%;
          left: 30px;
          padding-top: 0;
          text-align: left;
          h1 {
            margin-bottom: 0;
            font-size: 38px;
            max-width: none;
          }
          .event-date-city {
            //margin-bottom: 30px;
            margin-bottom: 0;
          }
          .register-link{
            a{
              margin: 15px 0 0 0;
            }
          }
        }
      }
    }
  }

  .left-side{
    font-size: 18px;
    color: $event_body_color;
    padding-right: 0;
    margin-right: 0px !important;
    border-right: none;
    @include span-columns(12 of 12);
    @include media($tablet) {
      @include span-columns(4.5 of 12);
      padding-right: 50px;
      border-right: 1px solid $medium-gray;
      margin-right: -1px !important;
    }
    .title{
      font-size: 18px;
      color: $table-color;
      font-weight: $bold;
      padding-bottom: 5px;
    }
    .location-wrapper, .share-wrapper{
      padding-top: 20px;
    }

    a.atcb-link{
      background: none;
      box-shadow: none;
      color: $green;
      text-decoration: underline;
      padding-left: 0;
    }
    ul.atcb-list{
      margin-left: 0;
      list-style-type: none;
      //box-shadow: none;
      border: none;
      li{
        list-style-type: none;
        &:before{
          background-color: transparent;
        }
      }
    }
    .a2a_svg{
      border-radius: 0px;
      width: 45px;
      height: 45px;
      margin-right: 8px;
      padding: 0;
    }
  }
  .right-side{
    border-left: none;
    padding-left: 0;
    @include span-columns(12 of 12);
    @include media($tablet) {
      border-left: 1px solid $medium-gray;
      @include span-columns(7.5 of 12);
      padding-left: 50px;
    }
    .body{
      font-size: 18px;
      color: $event_body_color;
      .label{
        color: $table-color;
        font-weight: $bold;
        padding-bottom: 5px;
      }
    }
  }

  #block-shopsplus-content{

    .content{
      margin-bottom: 140px;
    }
    margin-bottom: 80px;

    @include media($mobile) {
      width: 100%;
      padding: 0 20px 0 20px;
    }
    @include media($tablet) {
        width: 100%;
        padding: 0 39px 0 39px;
    }
    @include media($fullsize){
        padding: 0 50px 0 50px;
    }

  }

  .block-lasttweets-2{
    h2{
      padding-top: 60px;
    }
    @include media($mobile) {
      width: 100%;
      padding: 0 20px 0 20px;
    }
    @include media($tablet) {
      width: 100%;
      padding: 0 39px 0 39px;
    }
    @include media($fullsize){
      padding: 0 50px 0 50px;
    }
  }

  .event-schedule, presintation{
    .label.above{
      font-size: $tablet-font-size;
      color: $heading-color;
      font-weight: $bold;
      //margin-bottom: 15px;
    }
    .paragraph--type--schedule-item{
      padding: 35px 0 15px 0;
      @include clearfix;
      .event-item{
        .f_item{
          width: 100%;
          @include media($tablet) {
            width: 48%;
            float: left;
            margin-right: 4%;
          }
        }
        .f_item:nth-child(2n+2){
          margin-right: 0;
          margin-left: 0;
        }
      }
      .title{
        float: left;
        color: $breadcrumbs;
        font-size: 16px;
        &:after{
          content: "|";
          padding: 0 7px;
          color: $medium-gray;
        }
        .f_item{
          float: left;
        }
      }
      .date{
        color: $breadcrumbs;
        font-size: 16px;
      }
      .event-item{
        margin-top: 20px;

        .f_item{
          //border: 1px solid red;
        }

        .image{
          .f_item{
            width: auto;
            border: none;
          }
          img{
            width: 100%;
            height: auto;
            margin-top: 4px;
            @include media($tablet) {
              width: 100px;
              height: 100px;
            }
          }

        }
        .event-item-right-side{
          .title{
            float: none;
            font-size: $base-font-size;
            color: $heading-color;
            font-weight: $bold;
            line-height: 100%;
            height: 50px;
            overflow: hidden;
            &:after{
              content: "";
            }
          }
          .date{
            color: $time;
            float: left;
            .f_item{
              width: 100%;
              &:after{
                  content: "|";
                  padding: 0 7px;
                  color: $medium-gray;
                }
            }
          }
          .speaker-name{
            color: $breadcrumbs;
            font-size: 16px;
            height: 25px;
            width: 100%;
            margin-top: 8px;
          }
          .place{
            color: $time;
            font-size: 16px;
            float: left;
            .f_item{
              width: 100%;
              &:after{
                content: "|";
                padding: 0 7px;
                color: $medium-gray;
              }
            }
          }
          .subject{
            float: left;
            color: $green;
            font-size: 16px;
          }
        }
      }
    }
    .paragraph--type--event-item{
      border: 1px solid $medium-gray;
      border-left: none;
      border-right: none;
      margin-top: -1px;
      padding: 30px 0px 25px 0px;
      @include media($tablet){
        padding: 30px 20px 25px 20px;
      }
    }
  }

  .block-views-block-events-header-block-2{
    background-color: $event_bottom;
    text-align: center;
    header{
      text-align: center;
      font-size: 38px;
      color: $white;
      font-weight: $bold;
      padding: 60px 0 35px 0;
    }
    a {
      @extend %button;
      display: inline-block;
      border: 1px solid $white;
      background-color: $event_bottom;
      padding: 25px 40px;
      line-height: 1;
      margin-bottom: 70px;

      @include media($tablet) {
        border: 3px solid $white;
        font-size: 16px;
        padding: 25px 40px;
      }
    }
  }
  .tweets{
    padding-bottom: 55px;
  }

}