.node-type-our-people {
  #breadcrumb-layout {
    float: left;
    width: 100%;
    & > div {
      float: left;
    }
    #our-people-more {
      font-size: 10px;
      margin-bottom: 20px;
      text-align: center;
      float: none;
      clear: both;
      a {
        font-family: $heading-font-family;
        font-weight: $header-bold;
        color: $breadcrumbs;
        text-decoration: none;
        text-transform: uppercase;
        &:hover {
          color: darken($breadcrumbs, 30%);
        }
      }
      .separator {
        color: #999;
        padding: 0 7px;
        font-size: 15px;
        position: relative;
        top: -1px;
      }
      .prev {
        &:before {
          content: "\e903";
          font-size: 11px;
          padding-right: 10px;
          font-family: $icons-font-family;
        }
      }
      .next {
        &:after {
          padding-left: 10px;
          font-size: 11px;
          content: "\e902";
          font-family: $icons-font-family;
        }
      }
    }
  }

  .node-our-people-full {
    &:after {
      content: '';
      clear: both;
      display: block;
      width: 100%;
    }
    .left-side {
      text-align: center;
      margin-bottom: 20px;
      font-family: $heading-font-family;
      .job-title {
        margin-bottom: 20px;
        color: $breadcrumbs;
        a {
          color: $breadcrumbs;
          text-decoration: none;
          &:hover {
            color: darken($breadcrumbs, 30%);
          }
        }
      }
      .social {
        div a, div {
          display: inline-block;
          color: #fff;
          position: relative;
        }
        div a {
          transition: all 0.5s ease-in-out;
          overflow: hidden;
          text-indent: -800px;
          width: 35px;
          height: 35px;
          margin: 0 1px;
          &:after {
            position: absolute;
            top: 0;
            width: 100%;
            height: 35px;
            left: 0;
            font-family: $icons-font-family;
            text-indent: 0;
            font-size: 16px;
            line-height: 35px;
          }
          &:hover {
            transform: rotate(360deg);
          }
        }
        .facebook-url a {
          background-color: #507cbe;
          &:after {
            content: "\ea90";
          }
        }
        .twitter-url a {
          background-color: #65ccef;
          &:after {
            content: "\ea96";
          }
        }
        .linkedin-url a {
          background-color: #1187c9;
          &:after {
            content: '';
            background-image: url("../images/optimized/in.png");
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 16px;
          }
        }
        .email a {
          background-color: #044970;
          &:after {
            content: "\e908";
          }
        }
      }
    }
    .right-side {
    }
  }

  @include media($tablet) {
    #breadcrumb-layout {
      padding: 0 39px 0 0px;
      #our-people-more {
        padding-top: 15px;
        text-align: right;
        float: right;
        font-size: 14px;
        clear: none;
      }
    }
    .node-our-people-full {
      .left-side, .right-side {
        float: left;
      }
      .left-side {
        width: 37%;
        padding-top: 52px;
        padding-right: 4.5%;
      }
      .right-side {
        position: relative;
        margin-top: 45px;
        padding-bottom: 50px;
        padding-left: 4%;
        width: 62%;
        &:before {
          content: '';
          width: 1px;
          left: 0;
          top: 6px;
          position: absolute;
          background-color: $medium-gray;
          bottom: 0;
        }
      }
    }
  }
  @include media($fullsize) {
    #breadcrumb-layout {
      padding-right: 50px;
      #our-people-more {
        font-size: 16px;
        padding-top: 28px;
        padding-right: 31px;
        .separator {
          padding: 0 14px;
          font-size: 18px;
          top: -2px;
        }
      }
    }
    .node-our-people-full {
      font-size: 18px;
      blockquote {
        margin-bottom: 45px;
        margin-top: 0;
      }
      .left-side {
        padding-top: 60px;
        img {
          margin-bottom: 12px;
        }
        h2 {
          margin-bottom: 0;
        }
        .job-title {
          margin-bottom: 39px;
          a {
            font-size: 20px;
          }
        }
        .social {
          div {
            a {
              width: 45px;
              height: 45px;
              margin: 0 2px;
              &:after {
                font-size: 22px;
                line-height: 45px;
                height: 45px;
                background-size: 20px !important;
              }
            }
          }
        }
      }
      .right-side {
        margin-top: 54px;
        margin-bottom: 200px;
      }
      h3 {
        font-size: 18px;
      }
      p {
        margin-bottom: 35px;
      }
    }
  }
}

//section-our-people
.section-our-people {
  #block-shopsplus-page-title {
    padding-top: 30px;
    text-align: center;
  }
  .views-element-container {
    text-align: center;
    header, .views-field-title a, .views-field-field-job-title {
      color: $heading-color;
      font-family: $heading-font-family;
      font-size: 26px;
      margin-bottom: 25px;
    }
    .views-field-title a {
      margin-bottom: 10px;
      text-decoration: none;
      &:hover {
        color: darken($breadcrumbs, 30%);
      }
    }
    .views-field-field-job-title {
      color: $breadcrumbs;
      font-size: 20px;
    }
  }
  .views-row {
    display: inline-block;
    text-align: center;
  }
  #block-shopsplus-content {
    border-bottom: 1px solid #ccc;
    padding-bottom: 50px;
    margin-bottom: 70px;
  }
  @include media($fullsize) {
    .views-row {
      width: 400px;
      margin: 0 20px;
    }
  }
}

.node-type-our-people {
  #block-shopsplus-content {
    padding-bottom: 0;
    margin-bottom: 0;
    border: 0;
    vertical-align: top;
  }
}

.page-our-people-staff-fields-home-office-staff, .page-our-people-staff-fields-field-staff {
  #block-shopsplus-content {
    border: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    header {
      color: $green;
      text-align: center;
      max-width: 750px;
      margin: 0 auto;
      font-weight: 600;
    }
    .views-row {
      width: 100%;
      text-align: center;
      margin-bottom: 25px;
      header {
        h2 a, .job-title {
          font-family: $heading-font-family;
          text-decoration: none;
          color: $heading-color;
        }
        h2 a:hover {
          color: darken($breadcrumbs, 30%);
        }
        .job-title {
          color: $breadcrumbs;
          font-weight: $header-normal;
        }
      }
    }
    h3 {
      margin-bottom: 15px;
    }
    .line-group {
      border-bottom: $base-border;
      margin-bottom: 30px;
    }

    @include media($tablet) {
      .line-group {
        width: 100%;
        float: left;
        &:after {
          content: '';
          clear: both;
          display: block;
          width: 100%;
        }
        .views-row {
          width: 31%;
          margin: 0 1%;
          display: inline-block;
          vertical-align: top;
          margin-bottom: 25px;
        }
        .views-row:nth-child(3n+3) {
          margin-right: 0;
        }
      }
    }

    @include media($fullsize) {
      .views-row {
        header {
          h2 a {
            font-size: 26px;
          }
          .job-title {
            font-size: 20px;
          }
        }
      }
      .line-group {
        border-bottom: $base-border;
        margin-bottom: 50px;
        .views-row {
          margin-bottom: 45px;
        }
      }
    }
  }
}

.block-original-views_block__office_and_field_staff_block_1, .page-our-people {
  text-align: center;
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  //temp
  .views-row {
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    vertical-align: top;
  }
  .views-field-name {
    margin-bottom: 40px;
    a {
      font-size: 18px;
      color: $heading-color;
      text-decoration: none;
      font-family: $heading-font-family;
      &:hover {
        color: darken($breadcrumbs, 30%);
      }
    }
  }
  @include media($tablet) {
    margin-bottom: 30px;
    .views-field-name {
      margin-bottom: 0px;
    }
    .views-row {
      width: 40%;
      margin: 0 20px;
    }
  }
  @include media($fullsize) {
    margin-bottom: 40px;
    h2 {
      font-size: 26px;
      margin-bottom: 30px;
    }
    .views-field-name a {
      font-size: 26px;
    }
    .views-row {
      width: 400px;
      margin: 0 20px;
    }
  }
}

.page-our-people{
  text-align: left;
  .views-element-container {
    .views-field-title a {
      font-size: 22px;
    }
    .views-field-field-job-title {
      font-size: 16px;
    }
    @include media($fullsize) {
      .views-field-title a {
        font-size: 26px;
      }
      .views-field-field-job-title {
        font-size: 20px;
      }
    }
  }

}
