.node-type-resource {
  .field.url {
    .label {
      font-size: 14px;
    }
    .f_item {
      background: #eee;
      margin-bottom: 25px;
      padding: 10px;
      text-align: center;
    }
  }

  
}
