.node-type-story {
  blockquote {
    margin: 10px 50px;
  }
  .author {
    font-size: 14px;
    margin-top: 8px;
    font-style: normal;
    color: #666;
    font-weight: 400;
    line-height: 1.4em;
    strong {
      color: #444;
      font-weight: 700;
    }
    &.indented {
      margin-left: 50px;
    }

    @include media($fullsize) {
      font-size: 16px;
      margin-top: 20px;
      strong {
        font-weight: 700;
      }
    }
  }
}
