//wrapper around logo and name
#block-shopsplus-branding{
  float: left;
}

//logo
.site-logo{
  display: block;
  width: 180px;
  box-sizing: content-box;
  padding: 20px;
  
  img{
    display: block;
    margin: 0;
    padding: 0;
  }
}

// Site name
.site-name{
  display: none;
}
