// Breakpoints
$medium-screen: 600px;
$large-screen: 900px;

// Typography

$base-font-family: "Source Sans Pro", $font-stack-system;
$heading-font-family: "Gill Sans W01", $base-font-family;
$footer-font-family: "Source Sans Pro", $font-stack-system;
$icons-font-family: icomoon !important;

// Font Sizes
$base-font-size: 1em;
$tablet-font-size: 1.125em;
$full-font-size: 1.4em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1.4em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
//-----------------------------------------------------
$white: #FFF;
$black: #000;
$blue: #002e6c;
$light-blue: #8bd8f4;
$breadcrumbs: #2eb9ea;
$green: #02807f;
$red: #b90b2e;
$dark-gray: #555;
$dark-gray2: #333;
$medium-gray: #ccc;
$light-gray: #eee;
$heading-color:#04326e;
$table-color:#04326d;
$arrow_color:#99abc4;
$menu_sidebar_bg:#a1dff6;
$menu_sidebar_bg_2:#d2f2fe;
$menu_sidebar_bg_hover:$breadcrumbs;
$a_hover:#02605f;
//Font weights
$header-normal: 300;
$header-bold: 400;

$bold: 600;
$semibold: 500;
$normal: 400;
$strong: 700;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $green;
$light-font-color: $white;

// Background Colors
$base-background-color: $light-gray;
$secondary-background-color: $white;
$base-accent-color: $blue;


//Message Colors
$message-color: $light-gray;
$error-color: $red;
$warning-color: #FC0;
$status-color: $green;

//Main Menu
$menu-background: $white;
$menu-background-hover: $blue;
$menu-color: $dark-gray2;
$menu-color-hover: $white;
$menu-padding: .5em 1.5em;


// Border
$base-border-color: #ddd;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
